<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="DownloadResultExcelManagement" ng-controller="DownloadResultExcelController">
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!--Angular custom filter (for group by) JS-->
<script src="../../static/custom/angular-filter.js" th:src="@{/custom/angular-filter.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/admin/downloadresultexcel.js" th:src="@{/custom/admin/downloadresultexcel.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/adminsidebarmenu :: common-adminsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>List of Files to Download</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>File Namw</th>
                                        <th>Date Modified</th>
                                        <th>Download Excel</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="excel in resultExcels ">
                                        <td>{{excel.excelFileName }}</td>
                                        <td>{{excel.dateModified}}</td>
                                        <td> <a th:href="@{'downloadresultexcelname/{{excel.excelFileName}}/'}"> <i class="fa fa-download"></i> </a> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>