<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="" ng-controller="">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/adminsidebarmenu :: common-adminsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Update BSE Index Data</h1>
                            <p />Download and Upload BSE Index Data
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div th:if="${message}">
                                <h4 th:text="${message}"/>
                            </div>
                            <div th:if="${error}" style="font-size: 20; color: #FF1C19;">
                                <h4 th:text="${error}"/>
                            </div>
                            <div>
                                <div>
                                    <label>Max BSE Mid Cap Date</label> : <label th:text="${maxBSEMidCapDate}" />
                                </div>
                                <div>
                                    <label>Max BSE Small Cap Date</label> : <label th:text="${maxBSESmallCapDate}" />
                                </div>
                            </div>
                            <div  class="col-md-6 col-xs-12">
                                <form method="POST" action="/admin/uploadbseindexdatastatus" enctype="multipart/form-data" >
                                    <label>Enter Date in the form yyyy-MM-dd e.g. 2022-12-31 </label>
                                    <input class="form-control" placeholder="yyyy-MM-dd e.g. 2022-12-31" type="text" name="indexProcessDate" /> <br />
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- jQuery Smart Wizard -->
<script src="../../static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js" th:src="@{/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js}"></script>
<!-- iCheck -->
<script src="../../static/vendors/iCheck/icheck.min.js" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
<!-- jquery.inputmask -->
<script src="../../static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js" th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>

</body>
</html>