<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>Economic Indicators - India</h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> GDP Annual Growth Rate :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            The Indian economy shrank 7.5% yoy in Q3 2020, less than expectations of an 8.8% drop, amid easing of lockdown restrictions from June, higher demand during festival season and a rebound in manufacturing and utilities. It follows a record 23.9% plunge in Q2, bringing the economy into recession for the first time on record. On the demand side, smaller decreases were recorded for private spending (-11.3% vs -26.7%); investment (-7.3% vs -47.1%), exports (-1.5% vs -19.8%) and imports (-17.2% vs -40.4%). On the production side, manufacturing (0.6% vs -39.3%) and utilities (4.4% vs -7%) rebounded and mining (-9.1% vs -23.3%); construction (-8.6% vs -50.3%); and trade, hotels (-15.6% vs -47%) fell less while finance, real estate and professional activities shrank faster (-8.1% vs -5.3%). The GDP is still seen contracting in Q4 as the pandemic is far from controlled and the government announced a $10 billion stimulus package in mid-October only.
                            <p> Source: tradingeconomics.com </p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=ingdpy&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/gdp-growth-annual'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Inflation (CPI Annual Rate) :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            India's retail cmp inflation eased to 6.93 percent year-on-year in November 2020, from an over six-year high of 7.61 percent in the previous month and compared with market expectations of 7.10 percent. Sill, inflation remained above the central bank's 2-6 percent target range for an eight straight month. Cost of food increased at a slower pace (9.43 percent vs 11.0 percent), as well as prices of pan, tobacco and intoxicants (10.36 percent vs 10.65 percent), housing (3.19 percent vs 3.27 percent), and fuel and light (1.90 percent vs 2.28 percent). On the other hand, inflation picked up for clothing and footwear (3.30 percent vs 3.17 percent) and miscellaneous (6.94 percent vs 6.88 percent). source: Ministry of Statistics and Programme Implementation (MOSPI)
                            <p> Source: tradingeconomics.com </p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=incpiiny&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/inflation-cpi'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Food Inflation : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Cost of food in India increased 9.43 percent in November of 2020 over the same month in the previous year.
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiafooinf&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/food-inflation'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Inflation (WPI Annual Rate) :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            India's wholesale prices increased 1.55 percent from a year earlier in November 2020, the most since February and compared with market expectations of 1.62 percent, mainly boosted by an increase in cost of manufactured products (2.97 percent vs 2.12 percent in October). Meanwhile, food wholesale cmp inflation slowed (3.94 percent vs 6.37 percent), while prices of fuel and power fell (-9.87 percent vs -10.95 percent). source: Office of the Economic Advisor, India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiapropricha&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/producer-prices-change'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> RBI Key Policy Rate : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            The Reserve Bank of India kept its benchmark repurchase rate at 4 percent during its December meeting, saying it was maintaining an accommodative stance as long as necessary to support the economy hit by the COVID-19 crisis amid high inflationary pressure. Policymakers expect inflation to average 6.8 percent in the third quarter of fiscal 2020-2021 and 5.8 percent in the fourth quarter. For FY21, the central bank revised its economic forecast to a contraction of 7.5 percent from a decline 9.5 percent projected in October. The reverse repo rate at which RBI borrows from banks was left unchanged at 3.35 percent and the marginal standing facility (MSF) rate and the bank rate at 4.25 percent. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=rspoyld&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/interest-rate'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>10 Year G-Sec Bond Yield : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            India 10Y Bond Yield was 5.89 percent on Friday January 8, according to over-the-counter interbank yield quotes for this government bond maturity.
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <!--<iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=gind10yr&amp;v=201812281200a1&amp;d1=20000101&amp;d2=20211231&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/government-bond-yield'>tradingeconomics.com</a>-->
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=gind10yr&amp;v=202101090701V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/government-bond-yield'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Prime Lending Rate :  </h2></strong></font>
                            Last Update: 10-Jan-2021:  <p />
                            Bank Lending Rate in India remained unchanged at 8.80 percent in January from 8.80 percent in December of 2020. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiabanlenrat&amp;v=202101091005V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/bank-lending-rate'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Loan Growth : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            The value of loans in India increased 6.10 percent in December of 2020 over the same month in the previous year. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indialoagro&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/loan-growth'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Business Confidence : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Business Confidence in India decreased to 99.50 points in the second quarter of the 2020/2021 fiscal year. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=inrbc&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/business-confidence'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Car Production : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Car Production in India decreased to 206021 Units in November from 219569 Units in October of 2020. source: CMIE - Centre for Monitoring Indian Economy
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiacarpro&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/car-production'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Manufacturing PMI :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            The IHS Markit India Manufacturing PMI stood at 56.4 in December 2020, little-changed from the previous month's 56.3 and slightly below market consensus of 56.6. The latest reading was consistent with a marked improvement in business conditions across the sector, as the economy continued to recover amid the loosening of COVID-19 restrictions, strengthening demand and improved market conditions. Output and new orders grew solidly, albeit at the softest pace in four months, while employment declined for a ninth straight month. On the cmp front, input cost inflation accelerated to a 26-month high, due to higher prices for chemicals, metals, plastics and textiles. As a result, output charges rose marginally. Finally, business confidence weakened to a four-month low as some firms were concerned about the lasting effect of the COVID-19 pandemic on the global economy. source: Markit Economics
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiamanpmi&amp;lbl=0&amp;v=201812031013a1&amp;d1=20000101&amp;d2=20211231&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/manufacturing-pmi'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Services PMI : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            The IHS Markit India Services PMI declined to 52.3 in December 2020 from 53.7 in the previous month, and below market expectations of 54. The reading pointed to the third straight month of expansion in the services sector, but the weakest rate in the current sequence, as both output and new orders growth eased to three-month lows, due to the negative impact of COVID-19 on demand. Meanwhile, employment fell, after increasing in the previous month. On the cmp front, input cost inflation accelerated to the fastest pace since February, due to higher prices for a number of items, including cleaning products and fuel. Meanwhile, selling prices declined, as some firms sought to beat competition and secure new work. Looking ahead, business sentiment weakened, as optimism was curbed by uncertainty surrounding the COVID-19 pandemic, rupee depreciation and inflationary pressures. source: Markit Economics
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiaserpmi&amp;lbl=0&amp;v=201812051043a1&amp;d1=20000101&amp;d2=20211231&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/services-pmi'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>India Mining Production : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Mining production in India decreased 1.50 percent in October of 2020 over the same month in the previous year. source: Ministry of Statistics and Programme Implementation (MOSPI)
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiaminpro&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/mining-production'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Steel Production :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Steel Production in India increased to 9245 Thousand Tonnes in November from 9058 Thousand Tonnes in October of 2020. source: World Steel Association
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=insteel&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/steel-production'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Consumer Confidence : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Consumer Confidence in India decreased to 63.70 points in the second quarter of 2020 from 85.60 points in the first quarter of 2020. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=inrcc&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/consumer-confidence'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Current Account : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            India posted a USD 15.5 billion surplus in July-September 2020, or 2.4 percent of GDP, compared to a USD 7.6 billion deficit in the same period last year. It also compared to a USD 19.8 billion surplus recorded in the previous three-month period, the largest on record. The services surplus widened to USD 21.2 billion from USD 20.9 billion a year ago, while the goods deficit shrank to USD 14.8 billion from USD 39.6 billion. Meanwhile, the secondary income surplus fell to USD 18.4 billion from USD 20.0 billion and the primary income gap increased to USD 9.3 billion from USD 8.8 billion. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=inbqcur&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/current-account'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Current Account to GDP : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            India recorded a Current Account deficit of 0.90 percent of the country's Gross Domestic Product in 2019. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indca2gdp&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/current-account-to-gdp'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Export : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Exports from India went down 0.8 percent year-on-year to USD 26.89 billion in December of 2020, preliminary estimates showed. Sales declined for petroleum products (-40.47 percent); oil seeds (-31.8 percent); leather (-17.74 percent); coffee (-16.39 percent); ready-made-garments (-15.07 percent); marine products (-14.27 percent); cashew (-12.04 percent); plastic and linoleum (-7.43 percent) and tobacco (-4.95 percent). source: Ministry of Commerce and Industry, India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=inmtexud&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/exports'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>  Exports By Category :   </h2></strong></font>
                            <iframe src='https://comtrade.tradingeconomics.com/comtrade/share?r=ind&amp;c=0000&amp;v=treemapcategories&amp;t=2&amp;title=' height='300' width='600'  style='0' scrolling='no'></iframe>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Exports By Country :  </h2></strong></font>
                            <iframe src='https://comtrade.tradingeconomics.com/comtrade/share?r=ind&amp;c=0000&amp;v=treemapmarkets&amp;t=2&amp;title=' height='300' width='600'  style='0' scrolling='no'></iframe>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Total External Debt :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            External Debt in India increased to 556243 USD Million in the third quarter of 2020 from 554746 USD Million in the second quarter of 2020. source: Ministry of Finance, Government of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiaextdeb&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/external-debt'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Short-term debt (% of total reserves) :  </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Short-term debt (% of total reserves) in India was reported at 23.04 % in 2019, according to the World Bank collection of development indicators, compiled from officially recognized sources. India - Short-term debt (% of total reserves) - actual values, historical data, forecasts and projections were sourced from the World Bank on January of 2021.
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=ind.dt.dod.dstc.ir.zs%3aworldbank&amp;lbl=0&amp;v=202101310000V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/short-term-debt-percent-of-total-reserves-wb-data.html'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i>Foreign Exchange Reserves : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Foreign Exchange Reserves in India increased to 585324 USD Million in January 1 from 580840 USD Million in the previous week. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiaforexcres&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/foreign-exchange-reserves'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Foreign Direct Investment : </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Foreign Direct Investment in India increased by 4627 USD Million in October of 2020. source: Reserve Bank of India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiafordirinv&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/foreign-direct-investment'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Imports :   </h2></strong></font>
                            Last Update: 10-Jan-2021: <p />
                            Imports to India jumped 7.6 percent year-on-year to USD 42.6 billion in December of 2020, the highest since May of 2019. Purchases increased mostly for pulses (245.15 percent); gold (81.82 percent); vegetable oil (43.50 percent); chemical material and products (41.51 percent). source: Ministry of Commerce and Industry, India
                            <p>Source: tradingeconomics.com</p>
                            <p />
                            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=indiafordirinv&amp;v=202101082300V20200908&amp;d1=19210204&amp;h=300&amp;w=600' height='300' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/india/foreign-direct-investment'>tradingeconomics.com</a>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Imports By Category :  </h2></strong></font>
                            <iframe src='https://comtrade.tradingeconomics.com/comtrade/share?r=ind&amp;c=0000&amp;v=treemapcategories&amp;t=1&amp;title=' height='300' width='600' style='0' scrolling='no'></iframe>
                            </p>
                        </div>
                        <div class="x_content">
                            <p>
                                <font color="green"><strong><h2><i class="fa fa-check-square-o"></i> Imports By Country : </h2></strong></font>
                            <iframe src='https://comtrade.tradingeconomics.com/comtrade/share?r=ind&amp;c=0000&amp;v=treemapmarkets&amp;t=1&amp;title=' height='300' width='600' style='0' scrolling='no'></iframe>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>