<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="MFListManagement" ng-controller="MFListController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/public/mflist.js" th:src="@{/custom/public/mflist.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>List of Selected Mutual Funds (Growth Option)</h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!--<label class="pull-left" >Fund House : &nbsp;&nbsp;&nbsp;</label>-->
                            <!--<select class="pull-left" ng-change="getSchemeDetails()" ng-model="fundHouse" >-->
                                <!--<option ng-repeat="fundHouse in fundHouses" value="{{fundHouse}}">{{fundHouse}}</option>-->
                            <!--</select>-->
                            <label class="pull-left" >&nbsp;&nbsp;&nbsp;</label>
                            <label class="pull-left" >Category : &nbsp;&nbsp;&nbsp;</label>
                            <select class="pull-left" ng-model="category" >
                                <option></option>
                                <option selected="true">Large Cap</option>
                                <option>Mid Cap</option>
                                <option>Multi Cap</option>
                                <option>Small Cap</option>
                            </select>
                            <lebel class="pull-left" >&nbsp;&nbsp;&nbsp;</lebel>
                            <input class="pull-left" type="text" placeholder="Search by Name" ng-model="searchText" />
                            <lebel class="pull-left" >&nbsp;&nbsp;&nbsp; Show &nbsp;&nbsp;&nbsp; </lebel>
                            <lebel class="pull-left" > <input type="radio" checked="" value="returns" id="optionsRadios1" name="optionsRadios" ng-click="showColumns('YearlyReturns')" /> Year wise Returns &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios2" name="optionsRadios" ng-click="showColumns('TrailingReturns')" /> Trailing Returns &nbsp;&nbsp;&nbsp;</lebel>
                            <!--<lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios3" name="optionsRadios" ng-click="showColumns('SectorAllocation')" /> Sector Allocation &nbsp;&nbsp;&nbsp;</lebel>-->
                            <!--<lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios4" name="optionsRadios" ng-click="showColumns('TopStocks')" /> Top Stocks &nbsp;&nbsp;&nbsp;</lebel>-->
                        </div>
                        <div class="x_content">
                            <p>
                                <lable style="float: right;" th:text="${dateToday}"></lable>
                                <lable style="float: right;">&nbsp;&nbsp;&nbsp; Last updated : </lable>
                                <lable style="float: right;">* Returns 1-Jan-2019 till Date  </lable>
                                <label style="float: left;"><font color="red"> Return columns are sortable. Click on header to sort.</font></label>
                            </p>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th colspan="10" ng-hide="flagYearlyReurns">Year wise Returns</th>
                                        <th colspan="4" ng-hide="flagTrailingReturns">Trailing Absolute Returns</th>
                                        <th colspan="7" ng-hide="flagSectorAllocation">Sector Allocation</th>
                                        <th colspan="4" ng-hide="flagTopStocks">Top 4 Stock Holdings</th>
                                    </tr>
                                    <tr>
                                        <th ng-click="sortData('schemeType')" >Category<i ng-class="getSortClass('schemeType')" /></th>
                                        <th ng-click="sortData('schemeNamePart')" >Name<i ng-class="getSortClass('schemeNamePart')" /></th>
                                        <th ng-click="sortData('totalReturnsY0')" ng-hide="flagYearlyReurns">{{extractYear()}}*<i ng-class="getSortClass('totalReturnsY0')" /></th>
                                        <th ng-click="sortData('totalReturnsY1')" ng-hide="flagYearlyReurns">{{extractYear()-1}}<i ng-class="getSortClass('totalReturnsY1')" /></th>
                                        <th ng-click="sortData('totalReturnsY2')" ng-hide="flagYearlyReurns">{{extractYear()-2}}<i ng-class="getSortClass('totalReturnsY2')" /></th>
                                        <th ng-click="sortData('totalReturnsY3')" ng-hide="flagYearlyReurns">{{extractYear()-3}}<i ng-class="getSortClass('totalReturnsY3')" /></th>
                                        <th ng-click="sortData('totalReturnsY4')" ng-hide="flagYearlyReurns">{{extractYear()-4}}<i ng-class="getSortClass('totalReturnsY4')" /></th>
                                        <th ng-click="sortData('totalReturnsY5')" ng-hide="flagYearlyReurns">{{extractYear()-5}}<i ng-class="getSortClass('totalReturnsY5')" /></th>
                                        <th ng-click="sortData('totalReturnsY6')" ng-hide="flagYearlyReurns">{{extractYear()-6}}<i ng-class="getSortClass('totalReturnsY6')" /></th>
                                        <th ng-click="sortData('totalReturnsY7')" ng-hide="flagYearlyReurns">{{extractYear()-7}}<i ng-class="getSortClass('totalReturnsY7')" /></th>
                                        <th ng-click="sortData('totalReturnsY8')" ng-hide="flagYearlyReurns">{{extractYear()-8}}<i ng-class="getSortClass('totalReturnsY8')" /></th>
                                        <th ng-click="sortData('totalReturnsY9')" ng-hide="flagYearlyReurns">{{extractYear()-9}}<i ng-class="getSortClass('totalReturnsY9')" /></th>
                                        <th ng-click="sortData('totalReturnsY10')" ng-hide="flagYearlyReurns">{{extractYear()-10}}<i ng-class="getSortClass('totalReturnsY10')" /></th>
                                        <th ng-click="sortData('trailingReturn1yr')" ng-hide="flagTrailingReturns">1 Yr<i ng-class="getSortClass('trailingReturn1yr')" /></th>
                                        <th ng-click="sortData('trailingReturn3yr')" ng-hide="flagTrailingReturns">3 Yr<i ng-class="getSortClass('trailingReturn3yr')" /></th>
                                        <th ng-click="sortData('trailingReturn5yr')" ng-hide="flagTrailingReturns">5 Yr<i ng-class="getSortClass('trailingReturn5yr')" /></th>
                                        <th ng-click="sortData('trailingReturn10yr')" ng-hide="flagTrailingReturns">6 Yr<i ng-class="getSortClass('trailingReturn10yr')" /></th>
                                        <th ng-hide="flagSectorAllocation">Basic Materials</th>
                                        <th ng-hide="flagSectorAllocation">Consumer Cyclical</th>
                                        <th ng-hide="flagSectorAllocation">Financial Services</th>
                                        <th ng-hide="flagSectorAllocation">Industrial</th>
                                        <th ng-hide="flagSectorAllocation">Technology</th>
                                        <th ng-hide="flagSectorAllocation">Consumer Defensive</th>
                                        <th ng-hide="flagSectorAllocation">Healthcare</th>
                                        <th ng-hide="flagTopStocks">Stock 1</th>
                                        <th ng-hide="flagTopStocks">Stock 2</th>
                                        <th ng-hide="flagTopStocks">Stock 3</th>
                                        <th ng-hide="flagTopStocks">Stock 4</th>
                                    </tr>
                                    <tbody>
                                        <tr ng-repeat="fund in fundsDTO | filter:searchFund | filter:filterByCategory | orderBy:sortColumn:reverseSort">
                                            <td>{{fund.schemeType}}</td>
                                            <td>{{fund.schemeNamePart}}</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY0}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY1}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY2}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY3}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY4}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY5}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY6}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY7}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY8}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY9}}%</td>
                                            <td ng-hide="flagYearlyReurns">{{fund.totalReturnsY10}}%</td>
                                            <td ng-hide="flagTrailingReturns">{{fund.trailingReturn1yr}}%</td>
                                            <td ng-hide="flagTrailingReturns">{{fund.trailingReturn3yr}}%</td>
                                            <td ng-hide="flagTrailingReturns">{{fund.trailingReturn5yr}}%</td>
                                            <td ng-hide="flagTrailingReturns">{{fund.trailingReturn10yr}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorBasicMaterials}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorConsumerCyclical}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorFinacialServices}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorIndustrial}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorTechnology}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorConsumerDefensive}}%</td>
                                            <td ng-hide="flagSectorAllocation">{{fund.sectorHealthcare}}%</td>
                                            <td ng-hide="flagTopStocks">{{fund.stock1}}</td>
                                            <td ng-hide="flagTopStocks">{{fund.stock2}}</td>
                                            <td ng-hide="flagTopStocks">{{fund.stock3}}</td>
                                            <td ng-hide="flagTopStocks">{{fund.stock4}}</td>
                                        </tr>
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>