<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="MidAndSmallCapIndexStatsManagement" ng-controller="MidAndSmallCapIndexStatsController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/public/midandsmallcapindexstats.js" th:src="@{/custom/public/midandsmallcapindexstats.js}"></script>

<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Index Statistics</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h1>BSE Mid and Small Cap Returns Statistics </h1><h2>over last 18 Years (Last updated: {{indexConsolidatedStatistics[0].lastUpdated}}, Source: BSE) </h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{indexConsolidatedStatistics[0].ticker}}</th>
                                    <th>Mean Returns</th>
                                    <th>Median Returns</th>
                                    <th>Minimum Returns</th>
                                    <th>Maximum Returns</th>
                                    <th>Standard Deviation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>1 Year Returns </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns1yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns1yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumReturns1yr*100 | number:2}}% (Jan-08 to Jan-09)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumReturns1yr*100 | number:2}}% (Apr-03 to Apr-04)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation1yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>3 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns3yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns3yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumReturns3yr*100 | number:2}}% (Apr-00 to Apr-03)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumReturns3yr*100 | number:2}}% (May-03 to May-06)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation3yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>5 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns5yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns5yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumReturns5yr*100 | number:2}}% (Nov-07 to Nov-12)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumReturns5yr*100 | number:2}}% (Oct-02 to Oct-07)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation5yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>10 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns10yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns10yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumReturns10yr*100 | number:2}}% (Dec-07 to Dec-17)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumReturns10yr*100 | number:2}}% (May-03 to May-13)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation10yr*100 | number:2}}%</td>
                                </tr>
                                </tbody>
                            </table>
                            <p />
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{indexConsolidatedStatistics[1].ticker}}</th>
                                    <th>Mean Returns</th>
                                    <th>Median Returns</th>
                                    <th>Minimum Returns</th>
                                    <th>Maximum Returns</th>
                                    <th>Standard Deviation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>1 Year Returns </th>
                                    <td align="center">{{indexConsolidatedStatistics[1].meanReturns1yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].medianReturns1yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].minimumReturns1yr*100 | number:2}}% (Jan-08 to Jan-09)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].maximumReturns1yr*100 | number:2}}% (Mar-09 to Mar-10)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].standardDeviation1yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>3 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[1].meanReturns3yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].medianReturns3yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].minimumReturns3yr*100 | number:2}}% (Mar-06 to Mar-09)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].maximumReturns3yr*100 | number:2}}% (Apr-03 to Apr-06)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].standardDeviation3yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>5 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[1].meanReturns5yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].medianReturns5yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].minimumReturns5yr*100 | number:2}}% (Jan-08 to Jan-13)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].maximumReturns5yr*100 | number:2}}% (Apr-03 to Apr-08)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].standardDeviation5yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>10 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[1].meanReturns10yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].medianReturns10yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].minimumReturns10yr*100 | number:2}}% (Jan-08 to Jan-18)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].maximumReturns10yr*100 | number:2}}% (Apr-03 to Apr-13)</td>
                                    <td align="center">{{indexConsolidatedStatistics[1].standardDeviation10yr*100 | number:2}}%</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--<table class="table">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th>Mean PE</th>-->
                                    <!--<th>Median PE</th>-->
                                    <!--<th>Minimum PE</th>-->
                                    <!--<th>Maximum PE</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<th>1 Year PE </th>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].meanPe1yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].medianPe1yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].minimumPe1yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].maximumPe1yr | number:2}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>3 Year PE </th>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].meanPe3yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].medianPe3yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].minimumPe3yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].maximumPe3yr | number:2}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>5 Year PE </th>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].meanPe5yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].medianPe5yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].minimumPe5yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].maximumPe5yr | number:2}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>10 Year PE </th>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].meanPe10yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].medianPe10yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].minimumPe10yr | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].maximumPe10yr | number:2}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>All Time (18 Years) PE </th>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].meanPe | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].medianPe | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].minimumPe | number:2}}</td>-->
                                    <!--<td align="center">{{indexConsolidatedStatistics[0].maximumPe | number:2}}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>