<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="IndexStatsManagement" ng-controller="IndexStatController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!--Angular custom filter (for group by) JS-->
<script src="../../static/custom/angular-filter.js" th:src="@{/custom/angular-filter.js}"></script>
<!-- D3.js -->
<script src='https://d3js.org/d3.v4.min.js'></script>
<!-- Chart.js -->
<script src="../../static/vendors/Chart.js/dist/Chart.min.js" th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
<!-- angular.chartjs -->
<script src="../../static/vendors/angular.chartjs/angular-chart.min.js" th:src="@{/vendors/angular.chartjs/angular-chart.min.js}"></script>
<!-- Additional js for stack charts -->
<script src="https://cdn3.devexpress.com/jslib/18.2.3/js/dx.all.js"></script>
<script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/public/nifty50stats.js" th:src="@{/custom/public/nifty50stats.js}"></script>

<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>NIFTY50 Statistics</h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <font color="green"><h2><strong>NIFTY50 Returns Statistics </strong></h2></font><p>Based on data Since 2000-01-01 to {{indexConsolidatedStatistics[0].lastUpdated}}, Source: NSE, BSE) </p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Mean Returns</th>
                                    <th>Median Returns</th>
                                    <th>Minimum Returns</th>
                                    <th>Maximum Returns</th>
                                    <th>Standard Deviation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>1 Year Returns </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns1yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns1yr*100 | number:2}}%</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].minimumReturns1yr*100 | number:2}}% (Jan-08 to Jan-09)</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].maximumReturns1yr*100 | number:2}}% (Apr-03 to Apr-04)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation1yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>3 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns3yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns3yr*100 | number:2}}%</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].minimumReturns3yr*100 | number:2}}% (Apr-00 to Apr-03)</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].maximumReturns3yr*100 | number:2}}% (May-03 to May-06)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation3yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>5 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns5yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns5yr*100 | number:2}}%</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].minimumReturns5yr*100 | number:2}}% (Nov-07 to Nov-12)</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].maximumReturns5yr*100 | number:2}}% (Oct-02 to Oct-07)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation5yr*100 | number:2}}%</td>
                                </tr>
                                <tr>
                                    <th>10 Year Returns (Annualized) </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanReturns10yr*100 | number:2}}%</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianReturns10yr*100 | number:2}}%</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].minimumReturns10yr*100 | number:2}}% (Dec-07 to Dec-17)</td>
                                    <td align="left">{{indexConsolidatedStatistics[0].maximumReturns10yr*100 | number:2}}% (May-03 to May-13)</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].standardDeviation10yr*100 | number:2}}%</td>
                                </tr>
                                </tbody>
                            </table>
                            <p />
                            <font color="green"><h2><strong>NIFTY50 Calendar Returns</strong></h2></font>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Jan</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>May</th>
                                    <th>Jun</th>
                                    <th>Jul</th>
                                    <th>Aug</th>
                                    <th>Sep</th>
                                    <th>Oct</th>
                                    <th>Nov</th>
                                    <th>Dec</th>
                                    <th>Annual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="return in indexMonthlyReturns ">
                                    <td>{{return.year}}</td>
                                    <td>{{return.janReturn*100 | number:2}}%</td>
                                    <td>{{return.febReturn*100 | number:2}}%</td>
                                    <td>{{return.marReturn*100 | number:2}}%</td>
                                    <td>{{return.aprReturn*100 | number:2}}%</td>
                                    <td>{{return.mayReturn*100 | number:2}}%</td>
                                    <td>{{return.junReturn*100 | number:2}}%</td>
                                    <td>{{return.julReturn*100 | number:2}}%</td>
                                    <td>{{return.augReturn*100 | number:2}}%</td>
                                    <td>{{return.sepReturn*100 | number:2}}%</td>
                                    <td>{{return.octReturn*100 | number:2}}%</td>
                                    <td>{{return.novReturn*100 | number:2}}%</td>
                                    <td>{{return.decReturn*100 | number:2}}%</td>
                                    <td>{{return.annualReturn*100 | number:2}}%</td>
                                </tr>
                                </tbody>
                            </table>
                            <p />
                            <font color="green"><strong><h2>NIFTY-50 Trailing Price to Earnings Ratio</h2></strong></font>
                            <p>Historical Valuation, how expensive the Index is? High PE ratio --> Expensive or High expectations of future earning growth</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Mean PE</th>
                                    <th>Median PE</th>
                                    <th>Minimum PE</th>
                                    <th>Maximum PE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Last 1 Year PE </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanPe1yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianPe1yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumPe1yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumPe1yr | number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Last 3 Years PE </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanPe3yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianPe3yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumPe3yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumPe3yr | number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Last 5 Years PE </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanPe5yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianPe5yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumPe5yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumPe5yr | number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Last 10 Years PE </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanPe10yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianPe10yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumPe10yr | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumPe10yr | number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Last 18+ Years PE </th>
                                    <td align="center">{{indexConsolidatedStatistics[0].meanPe | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].medianPe | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].minimumPe | number:2}}</td>
                                    <td align="center">{{indexConsolidatedStatistics[0].maximumPe | number:2}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="x_content">
                                <font color="green"><h2><strong>Graphical View: NIFTY-50 Historical Trailing PE</strong></h2></font>
                                <p />Current PE {{indexConsolidatedStatistics[0].currentPe}} (Last updated: {{indexConsolidatedStatistics[0].lastUpdated}}, Source: NSE)
                                <br />
                                <strong>Note:</strong> A market is always forward-looking. Therefore, Forward P/E ratio is more appropriate for analysis. However, it is subjective and not publicly available. Although some firms publish consensus forward P/E ratios, they are not publicly available. Furthermore, the methodology for deriving forward P/E ratios is also not available publicly.
                                <br />
                                Select Years:
                                <select ng-model="yearFilter" ng-change="callSetChartData()">
                                    <option value="1" selected="true">Last 1 Year</option>
                                    <option value="3">Last 3 Years</option>
                                    <option value="5">Last 5 Years</option>
                                    <option value="20">All</option>
                                </select>
                                <br />
                                <canvas id="indexStatChart"  class="chart chart-line" chart-colors="newColors" chart-options="chartOptions"
                                        chart-data="chartData" chart-dataset-override="chartDatasetOverride" chart-labels="labelsDates"  chart-series="chartSeries"></canvas>
                                <br /><br />
                            </div>
                            <!--<h1><strong>Conclusions from Statistical Data: </strong></h1> <p />-->
                            <!--<h2>-->
                                <!--Equity Market Returns are more volatile (riskier) for the shorter period. Standard Deviation, a measure of risk is the highest for 1-year returns and lowest for 10-year yields. In simple term longer the period you hold equity class is better.<p />-->
                                <!--<strong>There is also one consideration to this simplistic assumption of long-term holding.</strong> Equity returns underperformed significantly even for more extended periods, e.g. five years returns during period Nov-07 to Nov-12 are -1.17% and 10 Years returns for period Dec-07 to Dec-17 are 5.21% which is below Fixed Income Class.<p />-->
                                <!--There are Black Swan events, which significantly destroy wealth. These events are challenging to predict but may cause a significant impact on your retirement fund/overall wealth. <p />-->
                                <!--Proper Asset Allocation is the key. There are smart and intelligent people who pragmatically and proactively make changes to the portfolio so that will have less impact on wealth. <p />-->
                                <!--We Encourage you to pay Fund/Wealth Management Fee to your money manager/asset management firm for this pragmatic decision of asset allocation. <p />-->
                                <!--Moreover, pay direct fee separately for valuable small services they provide you, rather than they getting paid through hidden commission which ultimately a root cause of miss-selling financial products.-->
                            <!--</h2>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>