<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>What is Strategic Asset Allocation And Why it is important</h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <font color="green"><h2><strong>Strategic Asset Allocation</strong></h2></font>
                            <p><h2>How is one's wealth distributed among asset classes (Fixed Income, Equity, Real Estate, Commodity, Alternative Investments, etc), and sub-classes is the key factor. In the investment industry, this distribution is known as "Asset Allocation." (e.g. 30-40% in Real Estate, 25-30% in Diversified Equity, 5-10% in individual Mid-cap stocks, 15-25% in fixed income, 3-5% in commodity, 2% in Cash[1]). This asset allocation helps us to understand risk-returns characteristics and to predict the probable outcome of the investment. Is that high risk suitable for the investor? Is the portfolio's risk considerably higher than the investor can afford to take? Or is investor too conservative that inflation will destroy the real value in future? Does investor have enough liquidity when there is need of a large amount of money within a short period? Answers to these questions can be easily answered by just looking at asset allocation.</h2> </p>
                            <p><h2>Strategic asset allocation involves meeting the investor’s long-term and short-term financial goals. Strategic asset allocation decision is the most critical decision relative to any other investment decision (whether the investor should buy or sell a particular investment product or security). This asset allocation decision involves budgeting resources effectively for meeting the investor's financial goals.</h2></p>
                            <p><h2>Strategic asset allocation decision requires consideration of the ability to take risk and willingness to take risk both. These both factors derive Risk Tolerance. Ability to take risk is more objective and requires considering stages in the lifecycle, Human Capital (the present value of future income), time horizon, upcoming liquidity events, tax consequences, legal or regulatory requirements or any unique constraints whereas willingness to take risk is very subjective and requires the understanding of investor's psychology or behavioural biases. </h2></p>
                            <p><h2>Performance or appreciation of invested assets, regular net income (i.e., income after expenses) or consumption of wealth lead to deviation in Strategic Asset Allocation. Therefore it becomes necessary to monitor Strategic Asset Allocation and re-balance your portfolio or wealth distribution periodically. </h2></p>
                            <p> <h2><font color="green"><strong>Tactical Asset Allocation:<p /></strong></font> Economic outcome and expectations of future performance of Asset Class change every day. Expectations of future performance of asset classes change from one professional to other. For a given investor's scenario, professional will have consensus on Strategic Asset Allocation. But tactical allocation could be different. Professional with an optimistic outlook for an asset class (e.g., equity) will allocate maximum (in percentage term) wealth allowed for that asset class in Strategic Asset Allocation whereas professional having pessimistic outlook for the same asset class will allocate minimum wealth permitted for that asset class in Strategic Asset Allocation.</h2></p>
                            <p><h2>[1] Asset class ranges for example only. Three are better mathematical ways to find optimal asset allocation for given risk tolerance. </h2></p>
                            <p><h2></h2></p>
                            <p><h2></h2></p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>