<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>Services </h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <blockquote>
                                <ul class="roman">
                                    <li><font color="green"><strong><h2>For Retail Investors:</h2></strong></font>
                                        <ul class="square">
                                            <!--<li><h2><strong>Wealth++ Auditing and Managing Wealth: </strong> Use our Web Based Application to: </h2>-->
                                                <!--<ul>-->
                                                    <!--<li>Audit and Monitor your wealth </li>-->
                                                    <!--<li>Get Advice in terms of Asset Allocation <small>i.e. What % of wealth you should keep in which asset class </small> </li>-->
                                                    <!--<li>To get Contact Details to create your account, <a href="/public/contactus" target="_blank"> click here </a></li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li><h2><strong>Regular to Direct MF:</strong> Convert your Regular Mutual Funds to Direct option and end up with 10%-20% more returns over next 5-7 years* <p />-->
                                                <!--<small>(*To see how the return gap between Direct MF and Regular MF widens over years "exponentially", <a href="/public/mflist" target="_blank"> click here )</a> </small></h2></li>-->
                                                <!--<ul>-->
                                                    <!--<li>Fixed Service Charges based on Existing SIPs and one time investments made  </li>-->
                                                    <!--<li>We recommend you to use ET Money App to convert those MFs to Direct</li>-->
                                                    <!--<li>Stop your existing SIPs </li>-->
                                                    <!--<li>Start new SIPs in Direct Option </li>-->
                                                    <!--<li>Convert existing regular MFs to Direct </li>-->
                                                    <!--<li>Restructure MF portfolio </li>-->
                                                    <!--<li>Please Contact for more details</li>-->
                                                <!--</ul>-->
                                            <!--<li><h2><strong>Mutual Fund Portfolio Analysis:</strong></h2></li>-->
                                            <!--<ul>-->
                                                <!--<li>Fixed Service Charges based on No. of Existing SIPs and one time investments made  </li>-->
                                                <!--<li>Get Quarterly analysis of MFs you have invested. </li>-->
                                                <!--<li>Compare returns with respect to Benchmark and peers.</li>-->
                                                <!--<li>Help you to make decision of discontinuing under-performing MF </li>-->
                                            <!--</ul>-->
                                            <li><h2><strong>Direct Stock Investments - FOCUS-FIVE Strategy :</strong></h2></li>
                                            <ul>
                                                <li>Direct investment in Stocks to out-perform Large Cap Index and Selected Large and Multi Cap <strong>Direct Growth </strong> Mutual Funds  </li>
                                                <li>Minimum Investment: 1 Lac</li>
                                                <li>No. Fund Management Fee for First Six Months<small>Initial Offer, Subject to Change</small></li>
                                                <li>Fund Management Fee: 1.0% of AUM <small>Initial Offer, Subject to Change</small></li>
                                            </ul>
                                            <li><h2><strong>PMS - Direct Stock Investments - INTRO Strategy :</strong></h2></li>
                                            <ul>
                                                <li>Direct investment in Stocks to get familiar with Stock Market Investment </li>
                                                <li>Minimum Investment: 50 Thousand</li>
                                                <li>First Six Months Free</li>
                                                <li>Fund Management Fee: 1.0% of AUM <small>Initial Offer, Subject to Change</small></li>
                                            </ul>
                                            <!--<li><h2>FD++: Portfolio Management</h2>-->
                                                <!--<ul>-->
                                                    <!--<li>Objective: Outperform FD Returns pre-tax </li>-->
                                                    <!--<li>Combination of Debt MF and selected stocks </li>-->
                                                    <!--<li>Minimum Investment 50K + Quarterly incremental fund if required</li>-->
                                                    <!--<li>Fee: Quarterly, 0.20% of avg. AUM  </li>-->
                                                    <!--<li>Please Contact for more details</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li><h2>MutualFund++: Portfolio Management</h2>-->
                                                <!--<ul>-->
                                                    <!--<li>Objective: Outperform Multi-Cap MFs  </li>-->
                                                    <!--<li>Combination of ETF/MFs and selected Stocks </li>-->
                                                    <!--<li>Minimum Investment 50K + Quarterly incremental fund if required </li>-->
                                                    <!--<li>Fee: Quarterly, 0.25% of avg. AUM  </li>-->
                                                    <!--<li>Please Contact for more details</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li><h2>Stock++: Portfolio Management</h2>-->
                                                <!--<ul>-->
                                                    <!--<li>Objective: Wealth Creation in the longer term  </li>-->
                                                    <!--<li>Combination of Large Cap (30-50%), Mid Cap (20-40%) And Small Cap (10-30%) Stocks </li>-->
                                                    <!--<li>Minimum Investment 1 Lacs + Quarterly incremental fund if required </li>-->
                                                    <!--<li>Fee: Quarterly, 0.35% of avg. AUM  </li>-->
                                                    <!--<li>Please Contact for more details</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li><h2>Option++: Portfolio Management</h2>-->
                                                <!--<ul>-->
                                                    <!--<li>Objective: Aggressive Strategy to enhance returns   </li>-->
                                                    <!--<li>Combination of ETFs, Large Cap (30-50%), Mid Cap (20-40%) And Small Cap (10-30%) Stocks </li>-->
                                                    <!--<li>Speculative Stock Options Trading to hedge risk exposure and to boost returns</li>-->
                                                    <!--<li>This service is suitable only for qualified investor</li>-->
                                                    <!--<li>Minimum Investment 5 Lacs + Quarterly incremental fund if required </li>-->
                                                    <!--<li>Fee: Quarterly, 0.45% of avg. AUM  </li>-->
                                                    <!--<li>Please Contact for more details</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <li><h2><strong>Unbiased Fee-Only Investment Guidance For Retirement</strong></h2>
                                                <ul>
                                                    <li>We believe Investment Advise should be unbiased and Advisers and Fund Managers must avoid all sort of conflict of interest. </li>
                                                    <li>We believe commission generating model (by selling regular MF) creates conflict of interest </li>
                                                    <li>We believe clients will get benefited much better if they invest in Direct Mutual Funds (which are commission free)</li>
                                                    <li>We are trying to provide a platform where client may login her use case and seek unbiased advise from any Independent Adviser</li>
                                                    <li>A platform that will respect genuine Adviser's time and this will be win-win for both advisers and clients who are seeking unbiased advise</li>
                                                    <li>A process of Retirement Solution Advise </li>
                                                    <ul>
                                                        <li>Auditing Family Background and Investible Assets </li>
                                                        <li>Auditing Annual Spending And Post Retirement Annual or Monthly Funding Need based on Inflation assumption and changes in lifestyle status</li>
                                                        <li>Predicting Amount Need to be accumulated for Retirement Funding </li>
                                                        <li>Separating Revenue Generating Assets (like Real Estate, Royalty generating Assets etc.) </li>
                                                        <li>Identifying Assets those can be restructured and those cannot be restructured </li>
                                                        <li>Asset Allocation Strategy (one time service)</li>
                                                        <li>Review of Performance And Any changes to Asset Allocation decision (subsequent monitoring at regular frequency-monthly, quarterly, semi-annually or annually)  </li>
                                                    </ul>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><font color="green"><strong><h2>For Investment Management Firms:</h2></strong></font>
                                        <ul class="square">
                                            <li><h2><strong>Technology Solution to Improve Efficiency and Professionalism while Managing clients' Wealth and PMS: </strong> </h2>
                                                <ul>
                                                    <li>Improve quality of your advice by auditing client's profile </li>
                                                    <!--<li>To get the overview of the Wealth Management application, <a href="/public/whatwedo" target="_blank"> click here </a></li>-->
                                                    <li>Solution for PMS </li>
                                                    <li>PMS Returns Calculation based on Cashflows (TWRR) and its comparison with Index and Mutual Funds</li>
                                                    <!--<li>Cost efficient way to manage PMS </li>-->
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>