<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Services and Features</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <blockquote>
                                <ul class="roman">
                                    <li><h2><strong>For Retail Investors:</strong></h2>
                                        <ul class="square">
                                            <li><h2>To get meaningful and up-to-date information about your wealth (<strong>a big picture</strong>) on one click</h2></li>
                                                <ul>
                                                    <li>Audit Wealth, Income, Expenses, Savings, Liabilities, Liquidity Need, and Insurances </li>
                                                    <li>Monitor Current Asset Allocation to make appropriate changes suitable to the prevailing investment scenario</li>
                                                </ul>
                                            <li><h2>To seek unbiased advice from professionals</h2></li>
                                            <li><h2>To maintain historical data points</h2>
                                                <ul>
                                                    <li>To improve decision making </li>
                                                    <li>To estimate a lifestyle spending need</li>
                                                    <li>To evaluate retirement funding</li>
                                                </ul>
                                            </li>
                                            <li><h2>Smooth transition while assigning a new fund manager/adviser</h2></li>
                                        </ul>
                                    </li>
                                    <li><h2><strong>For Institutional Investors:</strong></h2>
                                        <ul class="square">
                                            <li><h2>To maintain and track IPSs(Investment Policy Statement)</h2></li>
                                            <li><h2>Get professional portfolio management services</h2></li>
                                                <ul>
                                                    <li>Track cash-flows of portfolio </li>
                                                    <li>Assign Benchmark</li>
                                                    <li>Get both since inception and latest quarter TWRR and MWRR of portfolio</li>
                                                </ul>
                                            <li><h2>Smooth transition while assigning a new money manager</h2></li>
                                        </ul>
                                    </li>
                                    <li><h2><strong>Investment Managers/Asset Management Firms:</strong></h2>
                                        <ul>
                                            <li><h2>To maintain and track IPSs(Investment Policy Statement)</h2></li>
                                            <li><h2>To improve quality of advise/decisions related to client's wealth</h2></li>
                                            <li><h2>To enhance efficiency concerning time per client</h2></li>
                                            <li><h2>To provide the fastest, an accurate and economical communication channel for performance presentation</h2></li>
                                            <li>To provide standardized performance representation, both Money-Weighted Rate of Returns (MWRR) and Time Weighted Rate of Returns (TWRR) </li>
                                            <li>To get <strong>assistance in GIPS compliance</strong> and thereby competitive advantage in the industry </li>
                                        </ul>
                                    </li>
                                </ul>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>