<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Services </h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <blockquote>
                                <ul class="roman">
                                    <li><h2><strong>For Retail Investors:</strong></h2>
                                        <ul class="square">
                                            <li><h2>DirectMF: Convert your Mutual Funds to Direct option and save the huge difference</h2></li>
                                                <ul>
                                                    <li>Fixed Service Charges </li>
                                                    <li>Stop your existing SIPs </li>
                                                    <li>Start new SIPs in Direct Option </li>
                                                    <li>Convert existing regular MFs to Direct </li>
                                                    <li>Restructure MF portfolio </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            <li><h2>FD++: Portfolio Management</h2>
                                                <ul>
                                                    <li>Objective: Outperform FD Returns pre-tax </li>
                                                    <li>Combination of Debt MF and selected stocks </li>
                                                    <li>Minimum Investment 50K + Quarterly incremental fund if required</li>
                                                    <li>Fee: Quarterly, 0.20% of avg. AUM  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                            <li><h2>MutualFund++: Portfolio Management</h2>
                                                <ul>
                                                    <li>Objective: Outperform Multi-Cap MFs  </li>
                                                    <li>Combination of ETF/MFs and selected Stocks </li>
                                                    <li>Minimum Investment 50K + Quarterly incremental fund if required </li>
                                                    <li>Fee: Quarterly, 0.25% of avg. AUM  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                            <li><h2>Stock++: Portfolio Management</h2>
                                                <ul>
                                                    <li>Objective: Wealth Creation in the longer term  </li>
                                                    <li>Combination of Large Cap (30-50%), Mid Cap (20-40%) And Small Cap (10-30%) Stocks </li>
                                                    <li>Minimum Investment 1 Lacs + Quarterly incremental fund if required </li>
                                                    <li>Fee: Quarterly, 0.35% of avg. AUM  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                            <li><h2>Option++: Portfolio Management</h2>
                                                <ul>
                                                    <li>Objective: Aggressive Strategy to enhance returns   </li>
                                                    <li>Combination of ETFs, Large Cap (30-50%), Mid Cap (20-40%) And Small Cap (10-30%) Stocks </li>
                                                    <li>Speculative Stock Options Trading to hedge risk exposure and to boost returns</li>
                                                    <li>This service is suitable only for qualified investor</li>
                                                    <li>Minimum Investment 5 Lacs + Quarterly incremental fund if required </li>
                                                    <li>Fee: Quarterly, 0.45% of avg. AUM  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                            <li><h2>Unbiased Fee-Only Investment Guidance </h2>
                                                <ul>
                                                    <li>Custom advice considering Unique need and Circumstances of Investor  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                            <li><h2>Wealth++: Auditing and Managing Entire Wealth </h2>
                                                <ul>
                                                    <li>Audit and Monitoring your wealth for ensuring risk exposure  </li>
                                                    <li>To increase the probability of meeting financial goals  </li>
                                                    <li>Please Contact for more details</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>