<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="StockListManagement" ng-controller="StockListController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/public/stocklist.js" th:src="@{/custom/public/stocklist.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1>Stocks Statistics</h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!--<font color="red"> <strong>Note: </strong> Keep watching this page which is going to evolve. We will make sure investors will get bigger picture while investing in individual security. Also, pPlease update us if you find any discrepancy to sudhir.kulaye@gmail.com. <p />We believe, Investing in individual security requires understanding company's core business and having unique insight where consensus might be wrong. <p /> Especially in three areas: better ability to forecast financial results, better ability to predict valuation levels and  better ability of judging sentiments.     </font> <p />-->
                            <div class="clearfix"></div>
                            <label class="pull-left" >Included in Index : &nbsp;&nbsp;&nbsp;</label>
                            <select class="pull-left" ng-model="indexFilter" >
                                <option></option>
                                <option>SENSEX</option>
                                <option>NIFTY50</option>
                                <option>NIFTY Next 50</option>
                                <option>NSE-BSE100</option>
                                <option>NSE-BSE200</option>
                                <option>NSE-BSE500</option>
                            </select>
                            <!--<label class="pull-left" >&nbsp;&nbsp;&nbsp;</label>-->
                            <!--<label class="pull-left" >Sector : &nbsp;&nbsp;&nbsp;</label>-->
                            <!--<select class="pull-left" ng-model="sectorFilter" >-->
                                <!--<option value=""></option>-->
                                <!--<option ng-repeat="stock in stocks | unique:'sectorNameDisplay'">{{stock.sectorNameDisplay}}</option>-->
                            <!--</select>-->
                            <label class="pull-left" >&nbsp;&nbsp;&nbsp;</label>
                            <label class="pull-left" >FnO : &nbsp;&nbsp;&nbsp;</label>
                            <select class="pull-left" ng-model="fnoFilter" >
                                <option></option>
                                <option>FnO</option>
                            </select>
                            <label class="pull-left" >&nbsp;&nbsp;&nbsp;</label>
                            <label class="pull-left" >Sector : &nbsp;&nbsp;&nbsp;</label>
                            <select class="pull-left" ng-model="sectorFilter" >
                                <option value=""></option>
                                <option ng-repeat="stock in stocks | unique:'sectorNameDisplay' | orderBy:'sectorNameDisplay' ">{{stock.sectorNameDisplay}}</option>
                            </select>
                            <label class="pull-left" >&nbsp;&nbsp;&nbsp;</label>
                            <label class="pull-left" >Industry : &nbsp;&nbsp;&nbsp;</label>
                            <select class="pull-left" ng-model="industryFilter" >
                                <option value=""></option>
                                <option ng-repeat="stock in stocks | unique:'industryNameDisplay' | orderBy:['sectorNameDisplay','industryNameDisplay']">{{stock.sectorNameDisplay}}-{{stock.industryNameDisplay}}</option>
                            </select>
                            <lebel class="pull-left" >&nbsp;&nbsp;&nbsp;</lebel>
                            <input class="pull-left" type="text" placeholder="Search by Short Name" ng-model="searchTextFilter" />
                        </div>
                        <div class="x_content">
                            <lebel class="pull-left" >&nbsp;&nbsp;&nbsp; Show &nbsp;&nbsp;&nbsp; </lebel>
                            <lebel class="pull-left" > <input type="radio" checked="" value="returns" id="optionsRadios1" name="optionsRadios" ng-click="showColumns('BasicInfo')" /> Basic &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios2" name="optionsRadios" ng-click="showColumns('FundamentalInfo')" /> TTM P&amp;L &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios3" name="optionsRadios" ng-click="showColumns('CapitalStructureInfo')" /> Capital &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios4" name="optionsRadios" ng-click="showColumns('Valuations')" /> Growth &amp; Valuations &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios5" name="optionsRadios" ng-click="showColumns('PricePerformance')" /> Price Performance &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios6" name="optionsRadios" ng-click="showColumns('AdditionalInfo')" /> Additional (K Cr) &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios7" name="optionsRadios" ng-click="showColumns('AnalystsReco')" /> Analysts Reco &nbsp;&nbsp;&nbsp;</lebel>
                            <lebel class="pull-left" > <input type="radio" value="returns" id="optionsRadios8" name="optionsRadios" ng-click="showColumns('DCFValuation')" /> DCF Valuation Range &nbsp;&nbsp;&nbsp;</lebel>
                        </div>
                        <div class="x_content">
                            <p>
                                <lable style="float: right;" th:text="${dateToday}"></lable>
                                <lable style="float: right;">Last updated : </lable>
                                <lable style="float: left;">Returns for more than one year are annualized. Stocks ended with <i class="fa fa-star"></i> are available for FnO trading on NSE</lable>
                            </p>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <!--<th>Asset Class</th>-->
                                    <th ng-hide="flagBasicInfo">Included Index</th>
                                    <th>Name</th>
                                    <th ng-click="sortData('sectorNameDisplay')" ng-hide="flagBasicInfo">Sector<i ng-class="getSortClass('sectorNameDisplay')" /></th>
                                    <th ng-click="sortData('industryNameDisplay')" ng-hide="flagBasicInfo">Industry<i ng-class="getSortClass('industryNameDisplay')" /></th>
                                    <th ng-click="sortData('subIndustryNameDisplay')" ng-hide="flagBasicInfo">Sub-Industry<i ng-class="getSortClass('subIndustryNameDisplay')" /></th>
                                    <th align='right' ng-click="sortData('dailyDataS.marketCap')" >MCap (K Cr)<i ng-class="getSortClass('dailyDataS.marketCap')" /></th>
                                    <th align='right'>Price</th>
                                    <th align='right' ng-click="sortData('dailyDataS.rank')" ng-hide="flagBasicInfo">MCap Rank<i ng-class="getSortClass('dailyDataS.rank')" /></th>
                                    <th ng-click="sortData('dailyDataS.lastResultDate')" ng-hide="flagFundamentalInfo">Last Result<i ng-class="getSortClass('dailyDataS.lastResultDate')" /></th>
                                    <th ng-click="sortData('dailyDataS.priceChange')" ng-hide="flagFundamentalInfo">TTM Sales<i ng-class="getSortClass('dailyDataS.priceChange')" /></th>
                                    <th ng-click="sortData('dailyDataS.netProfit')" ng-hide="flagFundamentalInfo">TTM Profit<i ng-class="getSortClass('dailyDataS.netProfit')" /></th>
                                    <th ng-click="sortData('dailyDataS.opmLatestQuarter')" ng-hide="flagFundamentalInfo">OPM Latest<i ng-class="getSortClass('dailyDataS.opmLatestQuarter')" /></th>
                                    <th ng-click="sortData('dailyDataS.npmLatestQuarter')" ng-hide="flagFundamentalInfo">NPM Latest<i ng-class="getSortClass('dailyDataS.npmLatestQuarter')" /></th>
                                    <th ng-click="sortData('dailyDataS.opmLastYear')" ng-hide="flagFundamentalInfo">OPM Last Yr<i ng-class="getSortClass('dailyDataS.opmLastYear')" /></th>
                                    <th ng-click="sortData('dailyDataS.npmLastYear')" ng-hide="flagFundamentalInfo">NPM Last Yr<i ng-class="getSortClass('dailyDataS.npmLastYear')" /></th>
                                    <th ng-click="sortData('dailyDataS.debt')" ng-hide="flagCapitalStructureInfo">Debt<i ng-class="getSortClass('dailyDataS.debt')" /></th>
                                    <th ng-click="sortData('dailyDataS.debt3yearsback')" ng-hide="flagCapitalStructureInfo">Debt(3Yrs)<i ng-class="getSortClass('dailyDataS.debt3yearsback')" /></th>
                                    <th ng-click="sortData('dailyDataS.debtToEquity')" ng-hide="flagCapitalStructureInfo">Dt/Eq<i ng-class="getSortClass('dailyDataS.debtToEquity')" /></th>
                                    <th ng-click="sortData('dailyDataS.roce')" ng-hide="flagCapitalStructureInfo">ROCE<i ng-class="getSortClass('dailyDataS.roce')" /></th>
                                    <th ng-click="sortData('dailyDataS.avgRoce3years')" ng-hide="flagCapitalStructureInfo">ROCE(3Yrs)<i ng-class="getSortClass('dailyDataS.avgRoce3years')" /></th>
                                    <th ng-click="sortData('dailyDataS.roe')" ng-hide="flagCapitalStructureInfo">ROE<i ng-class="getSortClass('dailyDataS.roe')" /></th>
                                    <th ng-click="sortData('dailyDataS.avgRoe3years')" ng-hide="flagCapitalStructureInfo">ROE(3Yrs)<i ng-class="getSortClass('dailyDataS.avgRoe3years')" /></th>
                                    <!--<th ng-click="sortData('dailyDataS.mcapToSales')" ng-hide="flagCapitalStructureInfo">MCap/Sales<i ng-class="getSortClass('dailyDataS.mcapToSales')" /></th>-->
                                    <!--<th ng-click="sortData('dailyDataS.mcapToNetprofit')" ng-hide="flagCapitalStructureInfo">MCap/Profit<i ng-class="getSortClass('dailyDataS.mcapToNetprofit')" /></th>-->
                                    <th ng-click="sortData('dailyDataS.yoyQuarterlySalesGrowth')" ng-hide="flagValuations">Latest Sales-G<i ng-class="getSortClass('dailyDataS.yoyQuarterlySalesGrowth')" /></th>
                                    <th ng-click="sortData('dailyDataS.yoyQuarterlyProfitGrowth')" ng-hide="flagValuations">Latest Profit-G <i ng-class="getSortClass('dailyDataS.yoyQuarterlyProfitGrowth')" /></th>
                                    <th ng-click="sortData('dailyDataS.salesGrowth3years')" ng-hide="flagValuations">3 Yr Sales-G<i ng-class="getSortClass('dailyDataS.salesGrowth3years')" /></th>
                                    <th ng-click="sortData('dailyDataS.profitGrowth3years')" ng-hide="flagValuations">3 Yr Profit-G<i ng-class="getSortClass('dailyDataS.profitGrowth3years')" /></th>
                                    <th ng-click="sortData('dailyDataS.peTtm')" ng-hide="flagValuations">TTM PE<i ng-class="getSortClass('dailyDataS.peTtm')" /></th>
                                    <th ng-click="sortData('dailyDataS.pbTtm')" ng-hide="flagValuations">TTM PB<i ng-class="getSortClass('dailyDataS.pbTtm')" /></th>
                                    <th ng-hide="flagValuations">Sales/MCap</th>
                                    <th ng-click="sortData('stockPriceMovement.return1D')" ng-hide="flagPricePerformance">1D<i ng-class="getSortClass('stockPriceMovement.return1D')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return1W')" ng-hide="flagPricePerformance">1W<i ng-class="getSortClass('stockPriceMovement.return1W')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return2W')" ng-hide="flagPricePerformance">2W<i ng-class="getSortClass('stockPriceMovement.return2W')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return1M')" ng-hide="flagPricePerformance">1M<i ng-class="getSortClass('stockPriceMovement.return1M')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return2M')" ng-hide="flagPricePerformance">2M<i ng-class="getSortClass('stockPriceMovement.return2M')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return3M')" ng-hide="flagPricePerformance">3M<i ng-class="getSortClass('stockPriceMovement.return3M')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return6M')" ng-hide="flagPricePerformance">6M<i ng-class="getSortClass('stockPriceMovement.return6M')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return9M')" ng-hide="flagPricePerformance">9M<i ng-class="getSortClass('stockPriceMovement.return9M')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.returnYTD')" ng-hide="flagPricePerformance">YTD<i ng-class="getSortClass('stockPriceMovement.returnYTD')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return1Y')" ng-hide="flagPricePerformance">1Y<i ng-class="getSortClass('stockPriceMovement.return1Y')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.up52wMin')" ng-hide="flagPricePerformance">52WL<i ng-class="getSortClass('stockPriceMovement.up52wMin')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.down52wMax')" ng-hide="flagPricePerformance">52WH<i ng-class="getSortClass('stockPriceMovement.down52wMax')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return2Y')" ng-hide="flagPricePerformance">2Y<i ng-class="getSortClass('stockPriceMovement.return2Y')" /></th>
                                    <th ng-click="sortData('stockPriceMovement.return3Y')" ng-hide="flagPricePerformance">3Y<i ng-class="getSortClass('stockPriceMovement.return3Y')" /></th>
                                    <!--<th ng-hide="flagPricePerformance">5Y</th>-->
                                    <!--<th ng-hide="flagPricePerformance">10Y</th>-->
                                    <!--<th ng-hide="flagPricePerformance">5Years</th>-->
                                    <!--<th ng-hide="flagPricePerformance">10Years</th>-->
                                    <th ng-click="sortData('dailyDataS.priceChange')" ng-hide="flagAdditionalInfo">Sales<i ng-class="getSortClass('dailyDataS.noplat')" /></th>
                                    <th ng-click="sortData('dailyDataS.salesGrowth5years')" ng-hide="flagAdditionalInfo">5Y g%<i ng-class="getSortClass('dailyDataS.salesGrowth5years')" /></th>
                                    <th ng-click="sortData('dailyDataS.salesGrowth10years')" ng-hide="flagAdditionalInfo">10Y g%<i ng-class="getSortClass('dailyDataS.salesGrowth10years')" /></th>
                                    <th ng-click="sortData('dailyDataS.opmLastYear')" ng-hide="flagAdditionalInfo">OPM%<i ng-class="getSortClass('dailyDataS.opmLastYear')" /></th>
                                    <th ng-click="sortData('dailyDataS.noplat')" ng-hide="flagAdditionalInfo">NOPLAT<i ng-class="getSortClass('dailyDataS.noplat')" /></th>
                                    <th ng-click="sortData('dailyDataS.netProfit')" ng-hide="flagAdditionalInfo">Profit<i ng-class="getSortClass('dailyDataS.netProfit')" /></th>
                                    <th ng-click="sortData('dailyDataS.capex')" ng-hide="flagAdditionalInfo">Cal. Capex<i ng-class="getSortClass('dailyDataS.capex')" /></th>
                                    <th ng-click="sortData('dailyDataS.fcff')" ng-hide="flagAdditionalInfo">FCFF<i ng-class="getSortClass('dailyDataS.fcff')" /></th>
                                    <th ng-click="sortData('dailyDataS.investedCapital')" ng-hide="flagAdditionalInfo">InvtCap.<i ng-class="getSortClass('dailyDataS.investedCapital')" /></th>
                                    <th ng-click="sortData('dailyDataS.roic')" ng-hide="flagAdditionalInfo">RoIC%<i ng-class="getSortClass('dailyDataS.roic')" /></th>

                                    <th ng-hide="flagAnalystsReco">MOSL</th>
                                    <th ng-hide="flagAnalystsReco">Broker 2</th>
                                    <th ng-hide="flagAnalystsReco">AXIS</th>
                                    <th ng-hide="flagAnalystsReco">ICICI Direct</th>
                                    <th ng-hide="flagAnalystsReco">Broker 5</th>
                                    <th ng-hide="flagAnalystsReco">Broker 6</th>

                                    <th ng-hide="flagDCFValuation">Min. MCap/Price(<i class="fa fa-arrow-down"></i>%)/g%</th>
                                    <th ng-hide="flagDCFValuation">Max. MCap/Price(<i class="fa fa-arrow-up"></i>%)/g%</th>
                                    <th ng-hide="flagDCFValuation">WACC</th>
                                    <!--<th ng-hide="flagDCFValuation">Tax%</th>-->
                                    <th ng-hide="flagDCFValuation">10Yr g</th>
                                    <th ng-hide="flagDCFValuation">OPM</th>
                                    <th ng-hide="flagDCFValuation">PPE/Rev</th>
                                    <th ng-hide="flagDCFValuation">Dep/PPE</th>
                                    <!--<th ng-hide="flagDCFValuation">Hist. RoIC%</th>-->
                                    <th ng-hide="flagDCFValuation">Second and Terminal Stage g% Assumptions</th>
                                    <th ng-hide="flagDCFValuation">Other Inc. g% Assumptions</th>

                                </tr>
                                <tbody>
                                <tr ng-repeat="stock in stocks  | filter:filterByIndex | filter:filterByFno | filter:filterBySector | filter:filterByIndustry | filter:searchStock | orderBy:sortColumn:reverseSort">
                                    <!--<td>{{ (assetClasses | filter : { 'classid' : stock.assetClassid})[0].subclassName }}</td>-->
                                    <!--<td>{{stock.ticker}}</td>-->
                                    <td ng-hide="flagBasicInfo">{{stock.includedIndexName}}</td>
                                    <td><a href="/public/stockanalysis/{{stock.ticker}}" target="_blank">{{stock.shortName}} <i class="fa fa-star" ng-if="stock.isFno == '1'"></i></a></td>
                                    <!--<td>{{(industries | filter : { 'subindustryid' : stock.subindustryid})[0].sectorNameDisplay}}-{{(industries | filter : { 'subindustryid' : stock.subindustryid})[0].industryNameDisplay}}</td>-->
                                    <td ng-hide="flagBasicInfo">{{stock.sectorNameDisplay}}</td>
                                    <td ng-hide="flagBasicInfo">{{stock.industryNameDisplay}}</td>
                                    <td ng-hide="flagBasicInfo">{{stock.subIndustryNameDisplay}}</td>
                                    <!--<td >{{(stock.dailyDataS.marketCap/1000) | currency:"&#8377;":0}}</td>-->
                                    <td align='right'>{{(stock.dailyDataS.marketCap/1000) | number:0}}</td>
                                    <td align='right'>{{stock.latestPrice | number:0}}</td>
                                    <td align='right' ng-hide="flagBasicInfo">{{stock.dailyDataS.rank}}</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.lastResultDate}}</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.priceChange | currency:"&#8377;":0}}</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.netProfit | currency:"&#8377;":0}}</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.opmLatestQuarter}}%</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.npmLatestQuarter}}%</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.opmLastYear}}%</td>
                                    <td align='right' ng-hide="flagFundamentalInfo">{{stock.dailyDataS.npmLastYear}}%</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.debt | currency:"&#8377;":0}}</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.debt3yearsback | currency:"&#8377;":0}}</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.debtToEquity}}</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.roce}}%</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.avgRoce3years}}%</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.roe}}%</td>
                                    <td align='right' ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.avgRoe3years}}%</td>
                                    <!--<td ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.mcapToSales}}</td>-->
                                    <!--<td ng-hide="flagCapitalStructureInfo">{{stock.dailyDataS.mcapToNetprofit}}</td>-->
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.yoyQuarterlySalesGrowth}}%</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.yoyQuarterlyProfitGrowth}}%</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.salesGrowth3years}}%</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.profitGrowth3years}}%</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.peTtm}}</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.pbTtm}}</td>
                                    <td align='right' ng-hide="flagValuations">{{stock.dailyDataS.priceChange/stock.dailyDataS.marketCap | number:2}}</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return1D | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return1W | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return2W | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return1M | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return2M | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return3M | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return6M | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return9M | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.returnYTD | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return1Y | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.up52wMin | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.down52wMax | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return2Y | number:1}}%</td>
                                    <td align='right' ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return3Y | number:1}}%</td>
                                    <!--<td ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return5Y | number:2}}%</td>-->
                                    <!--<td ng-hide="flagPricePerformance">{{stock.stockPriceMovement.return10Y | number:2}}%</td>-->
                                    <!--<td ng-hide="flagPricePerformance">-</td>-->
                                    <!--<td ng-hide="flagPricePerformance">-</td>-->
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.priceChange/1000) | number:1}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{stock.dailyDataS.salesGrowth5years | number:2}}%</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{stock.dailyDataS.salesGrowth10years | number:2}}%</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{stock.dailyDataS.opmLastYear | number:2}}%</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.noplat/1000) | number:1}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.netProfit/1000) | number:1}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.capex/1000) | number:0}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.fcff/1000) | number:0}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{(stock.dailyDataS.investedCapital/1000) | number:0}}</td>
                                    <td align='right' ng-hide="flagAdditionalInfo">{{stock.dailyDataS.roic | number:2}}%</td>

                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestMOSLReco | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestAMBITReco | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestAXISReco | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestICICIDIRECTReco | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestPLReco | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagAnalystsReco"><pre>{{stock.latestKOTAKReco | quarterSplit }}</pre></td>


                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.minValuation | quarterSplit }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.maxValuation | removeQuarter }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.wacc | removeQuarter }}</pre></td>
                                    <!--<td align='left' ng-hide="flagDCFValuation"><pre>{{stock.taxRate | removeQuarter }}</pre></td>-->
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.revenueGrowthNext10yr | removeQuarter }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.opmNext10yr | removeQuarter }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.netPpeByRevenue10yr | removeQuarter }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.depreciationByNetPpe10yr | removeQuarter }}</pre></td>
                                    <!--<td align='left' ng-hide="flagDCFValuation"><pre>{{stock.historicalRoic | removeQuarter }}</pre></td>-->
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.secondAndTerminalStageAssumptions | removeQuarter }}</pre></td>
                                    <td align='left' ng-hide="flagDCFValuation"><pre>{{stock.otherIncGrowthAssumptions | removeQuarter }}</pre></td>
                                </tr>
                                </tbody>
                                </thead>
                            </table>
                            <br />
                            <strong>Note: </strong> Values are in Cr. INR. First preference is given to consolidated data and ratios. Data Sources: Publicly available information on NSE India, BSE India, MorningStar.in, Screener.in, ValueResearchOnline.com, MoneyControl.com, Motilal Oswal, Prabhudas Lilladher, Edelweiss, HDFC Securities, ICICI Direct, Kotak Securities, tradingeconomics.com and Internal Data Processing
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>