<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/publicsidebarmenu :: common-publicsidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/publictopnavigation :: common-publictopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <font color="green"><strong><h1><strong>Screenshots of Wealth Management Application</strong></h1></strong></font>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!--<h2><font color="green"><strong>What sudhirkulaye.com is all about?</strong></font></h2>-->
                            <p><h2>sudhirkulaye.com provides you a platform (a technology solution) to track and monitor your Asset Allocation. Seek professional and independent advice from any professional.</h2> </p>
                            <h2><font color="green"><strong>How does it work? </strong></font></h2>
                            <p><h2><strong>1) First Time Audit</strong>: Giving independent professional advice requires information that is sufficient enough for any independent finance professional to give you her unbiased opinion regarding your wealth distribution and ongoing and future investments that is most importantly "Suitable" for you.</h2></p>
                            <p><h2> [<font color="red"><strong>Note:</strong></font> Maintaining privacy and security of your information is our highest priority task. Please read Privacy Code, Terms and Ethical Standards]</h2></p>
                            <p><h2><strong>2) Seek independent advice regarding overall long-term Strategic Asset Allocation or advice regarding particular investment product or insurance product </strong>: Based on the information provided any professional will assess your risk-taking ability and to some extent your willingness to accept risk and judge <strong>suitability</strong> of investment products, current wealth distribution, insurance need and so on. It is possible for a Professional now to give you independent and unbiased advice in less time as information gathering (audit phase) is already done.</h2></p>
                            <p><h2><strong>3) Monitor your wealth </strong>: Frequent monitoring is equally important because Asset Allocation changes due to change in value and net income, investments or consumptions.</h2></p>
                            <p><h2><strong>4) Audit new investment information and align to Long-Term Strategic Asset Allocation </strong>: Audit incremental information related to new income, investments, and savings.</h2></p>
                            <p><h2><strong>5) Repeat step no. 3 and 4 </strong>: Wealth management (creation or maintenance) is a continuous process of monitoring and adjusting to strategic allocation which also changes with time and other life events.</h2></p>
                            <h2><font color="green"><strong>What kind of information is required for a professional to guide you?</strong></font></h2>
                            <p /><h2><strong>1. Family Background</strong>: To understand ability to take risk</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/01FamilyBackground.jpg" th:src="@{/images/screenshots/01FamilyBackground.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>2. Income, Expenses &amp; Savings</strong>:
                                <p />1) Again to identify the ability to take a risk.
                                <p />2) To predict lifestyle spending amount.
                                <p />More correctly you track this data, better you may predict your lifestyle spending requirements in future for retirement.
                                Fill this data with the help of Income Tax Filing Documents (ITR-V) and Total Annual Investments.
                                Moreover, this is a top-down approach to track reco, so requires fewer efforts,
                                unlike a bottom-up approach in which you track individual reco.</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/02IncExpSavings.jpg" th:src="@{/images/screenshots/02IncExpSavings.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>3. Loans &amp; Liability</strong>: Track your Home Loan and other liabilities (Car, Personal Loans etc.)</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/03Loans.jpg" th:src="@{/images/screenshots/03Loans.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>4. Insurance</strong>: Audit your insurance details to identify insurance cover and
                                <p />identify endowment insurances (insurance come saving products) those can be surrendered</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/04Insurances.jpg" th:src="@{/images/screenshots/04Insurances.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>5. Liquidity Need or Financial Goals</strong>:
                                <p />Events those consume wealth (future -short and long-term- big-ticket expenditures beyond regular income)</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/05LiquidityNeedOrFinancialGoals.jpg" th:src="@{/images/screenshots/05LiquidityNeedOrFinancialGoals.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>6. Ongoing SIPs/Regular Investments</strong>:
                            <p />Audit your PF-PPF, Endowment Insurance, Other Tax Saving Investments and Mutual Fund SIPs.
                            Identify how current savings/investments are being distributed among asset classes.
                            This will answer the question have you selected the wrong instrument?
                            Is your current regular investment distribution right?</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/06SIPs.jpg" th:src="@{/images/screenshots/06SIPs.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>7. Audit your entire wealth across family members</strong> (also link SIPs):
                                <p />One time as well as a recurring activity to audit new investments (other than SIPs) also audit exit from investments.
                                This is very important, spouse's willingness to take risk is high
                                so better other member slowdowns so that overall balance is made.
                                Also, most of the time members are not aware of family investments.
                                So, this is one place where all investments are clubbed together.</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/07_1AddAssetsFilterByFixedInc.jpg" th:src="@{/images/screenshots/07_1AddAssetsFilterByFixedInc.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                        <img src="../../static/images/screenshots/07_2AddAssetsFilterByDiversifiedEquity.jpg" th:src="@{/images/screenshots/07_2AddAssetsFilterByDiversifiedEquity.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                        <img src="../../static/images/screenshots/07_3AddAssetsFilterByIndividualEquity.jpg" th:src="@{/images/screenshots/07_3AddAssetsFilterByIndividualEquity.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                        <img src="../../static/images/screenshots/07_4AddAssetLinkingSIPToAssets.jpg" th:src="@{/images/screenshots/07_4AddAssetLinkingSIPToAssets.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>8. Find Out your Current Wealth Distribution Across Asset Classes - Sub Classes
                                <p />for Each Family Member and Across Family Members</strong>:
                                Get opinions on Current Wealth Distribution by professional(s).
                                Select your Long Term Strategic Asset Allocation Plan based on so far audited information
                                which will derive your ability to take a risk (Your willingness to take risk is also equally important).
                                Based on the current market scenario and asset classes future performance do tactical changes
                                (predefined deviation from Strategic Asset Allocation) if required.
                                This Allocation will keep changing due to:
                                1) Market Value Change 2) New Savings or Investments or liquidity events.
                                This requires monitoring at least once in a quarter.</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/08CurrentWealthDistribution.jpg" th:src="@{/images/screenshots/08CurrentWealthDistribution.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p /><h2><strong>9. Track History of Wealth and Wealth Distribution (Wealth Distribution History is pending though)</strong>:
                            <p />Track performances of asset classes and products/securities/assets under asset classes.
                            Check performance with Benchmark. Remove consistent underperforming products/securities/asset.
                            [Upcoming as of now, only Wealth history and Wealth distribution history is being tracked, performance assessment is upcoming]</h2>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <img src="../../static/images/screenshots/09WealthHistoryDistributionHistory.jpg" th:src="@{/images/screenshots/09WealthHistoryDistributionHistory.jpg}" class="col-md-12 col-sm-12 col-xs-12"/>
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<script src="../../static/vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>