<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="IncExpSavingsManagement" ng-controller="IncExpSavingsController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!--Angular custom filter (for group by) JS-->
<script src="../static/custom/angular-filter.js" th:src="@{/custom/angular-filter.js}"></script>
<!-- Chart.js -->
<script src="../../static/vendors/Chart.js/dist/Chart.min.js" th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
<!-- angular.chartjs -->
<script src="../../static/vendors/angular.chartjs/angular-chart.min.js" th:src="@{/vendors/angular.chartjs/angular-chart.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>-->
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/user/incexpsavings.js" th:src="@{/custom/user/incexpsavings.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/usersidebarmenu :: common-usersidebarmenu" />

        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Family Earnings and Savings </h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div class="x_panel">
                            <div class="x_title" ng-hide="!hideForm">
                                <h2>Annual Income, Expenses &amp; Savings<small></small></h2>
                                <button type="button" ng-click="showClearForm()" class="btn btn-success  pull-right btn-xs">Add New</button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" ng-hide="!hideForm">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Income - Expenses <small>Annual Consolidated Income &amp; Expenses of all memebers</small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <canvas id="incExpChart"  class="chart chart-bar" chart-colors="newColors" chart-options="chartOptions"
                                                chart-data="consolidatedIncExp" chart-labels="labelsYears"  chart-series="chartSeriesIncExp"></canvas>
                                        <!--<canvas class="chart chart-bar" chart-type="type" chart-data="data" chart-labels="labels"-->
                                                <!--chart-series="series" chart-options="options" chart-colors="colors"-->
                                                <!--chart-dataset-override="datasetOverride">-->
                                        <!--</canvas>-->
                                    </div>
                                </div>
                            </div>
                            <div class="x_content" ng-hide="!hideForm">
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Fin Year</th>
                                            <th>Name</th>
                                            <th>Net Income</th>
                                            <th>Gross Expenses</th>
                                            <th>Regular Expenses</th>
                                            <th>Net Savings</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="incExpSavingsRecord in incExpSavingsRecords">
                                            <td>{{incExpSavingsRecord.key.finyear}}</td>
                                            <td>{{ (members | filter : { 'memberid' : incExpSavingsRecord.key.memberid })[0].firstName }}</td>
                                            <td>{{incExpSavingsRecord.netIncome}}</td>
                                            <td>{{incExpSavingsRecord.grossTotalExpenses}}</td>
                                            <td>{{incExpSavingsRecord.normalizedRegularExpenses}}</td>
                                            <td>{{incExpSavingsRecord.investmentTotal}}</td>
                                            <td><button type="button" ng-click="editIncExpSavingsRecord(incExpSavingsRecord)" class="btn btn-warning  pull-right btn-xs" > Edit </button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div  class="col-md-6 col-xs-12" ng-hide="hideForm">
                                <span ng-show="nonZeroAdjustment" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger" >Adjust Expenses or Investments so that Adjustment becomes zero</span>
                                <span ng-show="recordAlreadyExist" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger" >Record Already Exists</span>
                                <p />
                                <form name="IncExpSavingsRecordHtmlForm" class="form-horizontal form-label-left input_mask" >
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-6">Fin Year <span class="required">*</span> </label>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <select class="form-control" ng-model="incExpSavingsRecordForm.key.finyear" ng-change="deesRecordexist()" required="required" ng-disabled="editMode">
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Member<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="incExpSavingsRecordForm.key.memberid" ng-change="deesRecordexist()" required="required" ng-disabled="editMode">
                                                <option ng-repeat="member in members" value="{{member.memberid}}">{{member.firstName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Regular Income<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required" ng-pattern="/^[0-9]{1,9}$/" ng-model="incExpSavingsRecordForm.regularIncome" />
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Interest/Dividend Income<span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.interestDividendIncome" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Rent Income<span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.rentIncome" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Other Income<small>(Rent/Dividend/Interest)</small><span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.otherIncome" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Gross Total Income<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.grossTotalIncome" ng-disabled="true" />-->
                                            <label> <p />
                                                {{incExpSavingsRecordForm.regularIncome
                                                + incExpSavingsRecordForm.interestDividendIncome
                                                + incExpSavingsRecordForm.rentIncome
                                                + incExpSavingsRecordForm.otherIncome }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Income Tax Paid<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.incomeTax" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Net Income <small>(A)</small><span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.netIncome" ng-disabled="true" />-->
                                            <label> <p />
                                                {{incExpSavingsRecordForm.regularIncome
                                                + incExpSavingsRecordForm.interestDividendIncome
                                                + incExpSavingsRecordForm.rentIncome
                                                + incExpSavingsRecordForm.otherIncome
                                                - incExpSavingsRecordForm.incomeTax}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Tax Bracket<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.taxRate" />-->
                                            <select class="form-control" required="required"  ng-model="incExpSavingsRecordForm.taxRate">
                                                <option>0</option>
                                                <!--<option>5</option>-->
                                                <option>10</option>
                                                <!--<option>15</option>-->
                                                <option>20</option>
                                                <!--<option>25</option>-->
                                                <option>30</option>
                                                <option>35</option>
                                                <!--<option>40</option>-->
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Increase in Bankbalance<span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.investmentIncreaseInBankbalance"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Investments in Tax Saving<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.investmentTaxSavings"  />
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Investment in Equity (MF/Stocks)<span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.investmentInEquity"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Investment in Fixed Inc. (FDs/Bonds)<span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.investmentInFixedIncome"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Other Investments <small>(MF/Stocks/Bonds/Bank)</small><span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.investmentInOther"  />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Total Investments<small> (B)</small><span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.investmentTotal" ng-disabled="true" />-->
                                            <label> <p />
                                                {{incExpSavingsRecordForm.investmentIncreaseInBankbalance
                                                + incExpSavingsRecordForm.investmentTaxSavings
                                                + incExpSavingsRecordForm.investmentInEquity
                                                + incExpSavingsRecordForm.investmentInFixedIncome
                                                + incExpSavingsRecordForm.investmentInOther }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Regular Expenses <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.normalizedRegularExpenses"  />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Infrequent Expenses <small>(Medical/Renovation)</small><span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" required="required"  ng-model="incExpSavingsRecordForm.infrequentTotalExpenses"  />
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Infreqent Medical Expenses <span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.infrequentMedicalExpenses"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Infreqent Renovation Expenses <span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.infrequentRenovationExpenses"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Infreqent Other Expenses <small>(Net Inc less Total Investment)</small><span class="required">*</span></label>-->
                                        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.infrequentOtherExpenses"  />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Annual Total Expenses<span> (C)</span> <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.grossTotalExpenses" ng-disabled="true"  />-->
                                            <label> <p />
                                                {{incExpSavingsRecordForm.normalizedRegularExpenses
                                                + incExpSavingsRecordForm.infrequentTotalExpenses}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Adjustment <small>[Must be zero:(A)-(B)-(C)]</small></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!--<input type="number" class="form-control" ng-model="incExpSavingsRecordForm.adjustment" ng-disabled="true"  />-->
                                            <label> <p />
                                                {{incExpSavingsRecordForm.regularIncome
                                                + incExpSavingsRecordForm.interestDividendIncome
                                                + incExpSavingsRecordForm.rentIncome
                                                + incExpSavingsRecordForm.otherIncome
                                                - incExpSavingsRecordForm.incomeTax
                                                - (
                                                + incExpSavingsRecordForm.investmentIncreaseInBankbalance
                                                + incExpSavingsRecordForm.investmentTaxSavings
                                                + incExpSavingsRecordForm.investmentInEquity
                                                + incExpSavingsRecordForm.investmentInFixedIncome
                                                + incExpSavingsRecordForm.investmentInOther
                                                ) - (
                                                incExpSavingsRecordForm.normalizedRegularExpenses
                                                + incExpSavingsRecordForm.infrequentTotalExpenses)}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4 col-xs-12  col-md-offset-8">
                                            <button type="submit" class="btn btn-success" ng-click="processIncExpSavingsRecord()">Save</button>
                                            <button class="btn btn-success" ng-click="showTable()">Cancel</button>
                                            <br /> <br />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- bootstrap-progressbar -->
<script src="../../static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<!-- iCheck -->
<script src="../../static/vendors/iCheck/icheck.min.js" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
<!-- jquery.inputmask -->
<script src="../../static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js" th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
<!-- bootstrap-daterangepicker -->
<script src="../../static/vendors/moment/min/moment.min.js" th:src="@{/vendors/moment/min/moment.min.js}"></script>
<script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- bootstrap-wysiwyg -->
<script src="../../static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js" th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
<script src="../../static/vendors/jquery.hotkeys/jquery.hotkeys.js" th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
<script src="../../static/vendors/google-code-prettify/src/prettify.js" th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
<!-- jQuery Tags Input -->
<script src="../../static/vendors/jquery.tagsinput/src/jquery.tagsinput.js" th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
<!-- Switchery -->
<script src="../../static/vendors/switchery/dist/switchery.min.js" th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
<!-- Select2 -->
<script src="../../static/vendors/select2/dist/js/select2.full.min.js" th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
<!-- Parsley -->
<script src="../../static/vendors/parsleyjs/dist/parsley.min.js" th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
<!-- Autosize -->
<script src="../../static/vendors/autosize/dist/autosize.min.js" th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
<!-- jQuery autocomplete -->
<script src="../../static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js" th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
<!-- starrr -->
<script src="../../static/vendors/starrr/dist/starrr.js" th:src="@{/vendors/starrr/dist/starrr.js}"></script>

<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>