<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="LiquiditiesManagement" ng-controller="LiquiditiesController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/user/liquidities.js" th:src="@{/custom/user/liquidities.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/usersidebarmenu :: common-usersidebarmenu" />

        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title" ng-hide="!hideForm">
                            <h1>Future Liquidity Need (Financial Goals) </h1>
                            <p />Tracking your Financial Goals and their priorities
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" ng-hide="!hideForm">
                            <button type="button" ng-click="showClearForm()" class="btn btn-success  pull-left btn-xs">Add New Goal</button>
                        </div>
                        <div class="x_content" ng-hide="!hideForm">
                            <br />
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Member</th>
                                        <th>Liquidity/Goal</th>
                                        <th>Priority</th>
                                        <th>Exp. Start Date</th>
                                        <th>Amt. Required</th>
                                        <th>Frequency</th>
                                        <th>Exp. End Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="liquidityRecord in liquidities">
                                        <td>{{ (members | filter : { 'memberid' : liquidityRecord.key.memberid })[0].firstName }}</td>
                                        <td>{{liquidityRecord.liquidityDesc}}</td>
                                        <td>{{liquidityRecord.priority}}</td>
                                        <td>{{liquidityRecord.expectedStartDate}}</td>
                                        <td>{{liquidityRecord.amountRequiredStartDate}}</td>
                                        <td>{{liquidityRecord.frequency | frequency}}</td>
                                        <td>{{liquidityRecord.expectedEndDate}}</td>
                                        <td>
                                            <button type="button" ng-click="deleteLiquidityRecord(liquidityRecord)" class="btn btn-danger  pull-right btn-xs" > Delete </button>
                                            <button type="button" ng-click="editLiquidityRecord(liquidityRecord)" class="btn btn-warning  pull-right btn-xs" > Edit </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  class="col-md-6 col-xs-12" ng-hide="hideForm">
                            <form name="LiquidityRecordHtmlForm" class="form-horizontal form-label-left input_mask" >
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Member<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-model="liquidityForm.key.memberid" required="required" ng-disabled="editMode">
                                            <option ng-repeat="member in members" value="{{member.memberid}}">{{member.firstName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Liquidity/Goal Description<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" required="required" ng-model="liquidityForm.liquidityDesc" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Priority <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-model="liquidityForm.priority" required="required" >
                                            <option>Critical</option>
                                            <option>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Expected Start Date<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="date" class="form-control" required="required" ng-model="liquidityForm.expectedStartDate" placeholder="yyyy-MM-dd" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Expected Amount<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="number" class="form-control" required="required" ng-pattern="/^[0-9]{1,9}$/"  ng-model="liquidityForm.amountRequiredStartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Frequency of Liquidity<small></small><span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <select class="form-control" required="required" ng-model="liquidityForm.frequency" >
                                            <option value="0">One Time</option>
                                            <option value="1">Monthly</option>
                                            <option value="3">Quarterly</option>
                                            <option value="6">Semi Annually</option>
                                            <option value="12">Annually</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Expected End Date<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="date" class="form-control" required="required" ng-model="liquidityForm.expectedEndDate" placeholder="yyyy-MM-dd" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">
                                        Date Last Update
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="date" class="form-control" ng-model="liquidityForm.dateLastUpdate" placeholder="yyyy-MM-dd"  ng-disabled="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-sm-4 col-xs-12  col-md-offset-8">
                                        <button type="submit" class="btn btn-success" ng-click="processLiquidityRecord()">Save</button>
                                        <button class="btn btn-success" ng-click="showTable()">Cancel</button>
                                        <br /> <br />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- bootstrap-progressbar -->
<script src="../../static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<!-- iCheck -->
<script src="../../static/vendors/iCheck/icheck.min.js" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
<!-- jquery.inputmask -->
<script src="../../static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js" th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
<!-- bootstrap-daterangepicker -->
<script src="../../static/vendors/moment/min/moment.min.js" th:src="@{/vendors/moment/min/moment.min.js}"></script>
<script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- bootstrap-wysiwyg -->
<script src="../../static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js" th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
<script src="../../static/vendors/jquery.hotkeys/jquery.hotkeys.js" th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
<script src="../../static/vendors/google-code-prettify/src/prettify.js" th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
<!-- jQuery Tags Input -->
<script src="../../static/vendors/jquery.tagsinput/src/jquery.tagsinput.js" th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
<!-- Switchery -->
<script src="../../static/vendors/switchery/dist/switchery.min.js" th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
<!-- Select2 -->
<script src="../../static/vendors/select2/dist/js/select2.full.min.js" th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
<!-- Parsley -->
<script src="../../static/vendors/parsleyjs/dist/parsley.min.js" th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
<!-- Autosize -->
<script src="../../static/vendors/autosize/dist/autosize.min.js" th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
<!-- jQuery autocomplete -->
<script src="../../static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js" th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
<!-- starrr -->
<script src="../../static/vendors/starrr/dist/starrr.js" th:src="@{/vendors/starrr/dist/starrr.js}"></script>

<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>