<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="CashflowsManagement" ng-controller="CashflowsController">
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/user/portfoliocashflows.js" th:src="@{/custom/user/portfoliocashflows.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/usersidebarmenu :: common-usersidebarmenu" />

        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title">
                            <h1><font color="green">Portfolio Cashflows & EOM Valuations </font></h1>
                            <p />Negative Cashflow -> Cash in the portflio. Positive Cashflow -> Cash out of the portfolio
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h2><font color="green"><strong>Portfolios : </strong> </font></h2>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th><strong>Member/#Portfolio</strong></th>
                                        <th><strong>Status</strong></th>
                                        <th><strong>Inception Date</strong></th>
                                        <th><strong>Description</strong></th>
                                        <th><strong>Net Investment</strong></th>
                                        <th><strong>Market Value</strong></th>
                                        <th><strong>Net Profit</strong></th>
                                        <th><strong>Abs. Returns%</strong></th>
                                        <th><strong>TWRR Returns%</strong></th>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="portfolio in portfolios">
                                        <td>{{ (members | filter : { 'memberid' : portfolio.key.memberid })[0].firstName }}/{{portfolio.key.portfolioid}}</td>
                                        <td>{{portfolio.status}}</td>
                                        <td>{{portfolio.startDate}}</td>
                                        <td>{{portfolio.description}}</td>
                                        <td>{{portfolio.netInvestment | currency:"&#8377;":0}}</td>
                                        <td>{{portfolio.marketValue | currency:"&#8377;":0}}</td>
                                        <td>{{portfolio.netProfit | currency:"&#8377;":0}}</td>
                                        <td>{{portfolio.absoluteReturn*100 | number:2}}%</td>
                                        <td>{{portfolio.annualizedReturn*100 | number:2}}%</td>
                                        <td><button type="button" ng-click="setFilter(portfolio.key.memberid, portfolio.key.portfolioid)" class="btn btn-success  pull-right btn-xs">Show Details</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="x_content">
                            <h2><font color="green"><strong>Significant* Cashflows </strong> </font></h2>
                            <p />*Min. 5% of the portfolio value
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th><strong>Member/Folio</strong></th>
                                        <th><strong>Date</strong></th>
                                        <th><strong>Cashflow</strong></th>
                                        <th><strong>Value</strong></th>
                                        <th><strong>Description</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="portfolioCashflow in portfolioCashflows | filter:filterCashflowsByMemberidAndPortfolioid">
                                        <td>{{ (members | filter : { 'memberid' : portfolioCashflow.key.memberid })[0].firstName }}/{{portfolioCashflow.key.portfolioid}}</td>
                                        <td>{{portfolioCashflow.key.date}}</td>
                                        <td>{{portfolioCashflow.cashflow | currency:"&#8377;":0}} </td>
                                        <td>{{portfolioCashflow.value | currency:"&#8377;":0}}</td>
                                        <td>{{portfolioCashflow.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>