<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="SipsManagement" ng-controller="SipsController">
<!-- iCheck -->
<link href="../../static/vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"  rel="stylesheet" />
<!-- bootstrap-wysiwyg -->
<link href="../../static/vendors/google-code-prettify/bin/prettify.min.css" th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}"  rel="stylesheet" />
<!-- Select2 -->
<link href="../../static/vendors/select2/dist/css/select2.min.css" th:href="@{/vendors/select2/dist/css/select2.min.css}"  rel="stylesheet" />
<!-- Switchery -->
<link href="../../static/vendors/switchery/dist/switchery.min.css" th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet" />
<!-- starrr -->
<link href="../../static/vendors/starrr/dist/starrr.css" th:href="@{/vendors/starrr/dist/starrr.css}"  rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"  rel="stylesheet" />
<!-- Animate.css -->
<link href="../../static/vendors/animate.css/animate.min.css" th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet" />
<!-- jQuery custom content scroller -->
<link href="../../static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" th:href="@{/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/user/sips.js" th:src="@{/custom/user/sips.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/usersidebarmenu :: common-usersidebarmenu" />

        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title" ng-hide="!hideForm">
                            <h1>SIPs and Regular Investments </h1>
                            <p />Audit your on going SIPs and Regular Investments in PPF, Tax Saving Instruments and other products
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" ng-hide="!hideForm">
                            <button type="button" ng-click="showClearForm()" class="btn btn-success  pull-left btn-xs">Add New</button>
                            <font color="red"> Note: Deleting or Editing Record may affect auto addition of Mutual Funds transactions </font>
                        </div>
                        <div class="x_content" ng-hide="!hideForm">
                            <font color="green"><strong><h2>Summary : </h2> </strong> </font>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><h2><strong>Total Annual Investments</strong></h2></th>
                                            <td><h2><strong>{{totalAnnualInvestment | currency:"&#8377;":0}}</strong></h2></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Investments in Endowment Insurance</th>
                                            <td>{{totalAnnualInvestmentInEndowmentInsurance | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEndowmentInsurancePercent | number:2}}%</td>
                                            <th>Investments in PPF-FD-RD</th>
                                            <td>{{totalAnnualInvestmentInPPFFDRD | currency:"&#8377;":0}} / {{totalAnnualInvestmentInPPFFDRDPercent | number:2}}%</td>
                                        </tr>
                                        <tr>
                                            <th>Investments in ULIP</th>
                                            <td>{{totalAnnualInvestmentInULIP | currency:"&#8377;":0}} / {{totalAnnualInvestmentInULIPPercent | number:2}}%</td>
                                            <th>Investments in Other</th>
                                            <td>{{totalAnnualInvestmentInOther | currency:"&#8377;":0}} / {{totalAnnualInvestmentInOtherPercent | number:2}}%</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <p /><strong>Investments in Mutual Funds</strong>
                                                <p />{{totalAnnualInvestmentInMutualFunds | currency:"&#8377;":0}} / {{totalAnnualInvestmentInMutualFundsPercent | number:2}}%
                                                <p /><strong>Investment in Mutual Funds by Category</strong>
                                                <p /><strong>Debt MF: </strong> {{totalAnnualInvestmentInDebtMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInDebtMFPercent | number:2}}%
                                                <strong>Hybrid MF: </strong>  {{totalAnnualInvestmentInHybridMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInHybridMFPercent | number:2}}%
                                                <strong>Equity Large Cap MF: </strong>  {{totalAnnualInvestmentInEquityLargeMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquityLargeMFPercent | number:2}}%
                                                <strong>Equity Mid Cap MF:</strong>  {{totalAnnualInvestmentInEquityMidMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquityMidMFPercent | number:2}}%
                                                <p /><strong>Equity Small Cap MF: </strong>  {{totalAnnualInvestmentInEquitySmallMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquitySmallMFPercent | number:2}}%
                                                <strong>Equity Multi Cap MF: </strong>  {{totalAnnualInvestmentInEquityMultiMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquityMultiMFPercent | number:2}}%
                                                <strong>Equity ELSS Cap MF: </strong> {{totalAnnualInvestmentInEquityElssMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquityElssMFPercent | number:2}}%
                                                <strong>Equity Other Cap MF: </strong> {{totalAnnualInvestmentInEquityOtherMF | currency:"&#8377;":0}} / {{totalAnnualInvestmentInEquityOtherMFPercent | number:2}}%
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="x_content" ng-hide="!hideForm">
                            <br />
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Member</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>End Date</th>
                                        <th>Category</th>
                                        <th>Equity Style</th>
                                        <th>Debt Style</th>
                                        <th>Frequency</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sipRecord in sips">
                                        <td>{{ (members | filter : { 'memberid' : sipRecord.key.memberid })[0].firstName }}</td>
                                        <td>{{sipRecord.instrumentType}}</td>
                                        <td>{{sipRecord.schemeName}}</td>
                                        <td>{{sipRecord.amount}}</td>
                                        <td>{{sipRecord.endDate}}</td>
                                        <td>{{sipRecord.category}}</td>
                                        <td>{{sipRecord.equityStyleBox}}</td>
                                        <td>{{sipRecord.debtStyleBox}}</td>
                                        <td>{{sipRecord.sipFreq | frequency}}</td>
                                        <td>
                                            <button type="button" ng-click="deleteSipRecord(sipRecord)" class="btn btn-danger  pull-right btn-xs" > Delete </button>
                                            <button type="button" ng-click="editSipRecord(sipRecord)" class="btn btn-warning  pull-right btn-xs" > Edit </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  class="col-md-6 col-xs-12" ng-hide="hideForm">
                            <form name="SipRecordHtmlForm" class="form-horizontal form-label-left input_mask" >
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Member<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-model="sipForm.key.memberid" required="required" ng-disabled="editMode">
                                            <option ng-repeat="member in members" value="{{member.memberid}}">{{member.firstName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Instrument Type <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-model="sipForm.instrumentType" ng-change="onSelectionOfInstrumentType()" required="required" ng-disabled="editMode" >
                                            <option>Mutual Fund</option>
                                            <option>PPF-FD-RD</option>
                                            <option>Endowment Insurance</option>
                                            <option>ULIP</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">-->
                                    <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Search By </label>-->
                                    <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                        <!--<p />Scheme Code:    <input type="radio" class="flat" ng-model="searchBy" value="schemeCode" ng-change="onSelectionOfSearchBy(searchBy)" />-->
                                        <!--Scheme Name:     <input type="radio" class="flat" ng-model="searchBy" value="schemeName" ng-change="onSelectionOfSearchBy(searchBy)" />-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Scheme Code <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="sipForm.schemeCode" class="form-control" ng-disabled="true" />
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Fund House </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!--<input type="text" ng-change="onedit()" ng-model="sipForm.fundHouse" uib-typeahead="fundHouse for fundHouse in fundHouses | filter:$viewValue | limitTo:8" class="form-control"  ng-disabled="editMode"/>-->
                                        <input type="text" ng-model="sipForm.fundHouse" uib-typeahead="fundHouse for fundHouse in fundHouses | filter:$viewValue | limitTo:8" class="form-control"  ng-disabled="editMode"/>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Direct Plan or Regular Plan</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-change="getSchemeNames()" ng-model="sipForm.directRegular" required="required" ng-disabled="editMode">
                                            <option>Direct</option>
                                            <option>Regular</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Dividend or Growth Option</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" ng-change="getSchemeNames()" ng-model="sipForm.dividendGrowth" required="required" ng-disabled="editMode" >
                                            <option>Dividend</option>
                                            <option>Growth</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">-->
                                    <!--<label class="control-label col-md-6 col-sm-6 col-xs-12">Dividend Frequency</label>-->
                                    <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                        <!--<select class="form-control" ng-change="getSchemeNames()" ng-model="sipForm.dividendFreq" ng-disabled="searchBySchemeCode" >-->
                                            <!--<option></option>-->
                                            <!--<option>Weekly</option>-->
                                            <!--<option>Fortnightly</option>-->
                                            <!--<option>Monthly</option>-->
                                            <!--<option>Quarterly</option>-->
                                            <!--<option>Semi-annually</option>-->
                                            <!--<option>Annually</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Scheme Name<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" typeahead-on-select="setSchemeDetails($item)" ng-model="sipForm.schemeName" uib-typeahead="fundDTO.schemeNameFull for fundDTO in fundsDTO | filter:$viewValue | limitTo:8" class="form-control" ng-disabled="editMode" />
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType != 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Instrument Name<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="sipForm.schemeName" class="form-control" ng-disabled="editMode" />
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Category<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label><p />{{sipForm.category}}</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Equity Style-box<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label><p />{{sipForm.equityStyleBox}}</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sipForm.instrumentType == 'Mutual Fund'">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Debt Style-box<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>{{sipForm.debtStyleBox}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Start Date<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12"  vertical-align="middle">
                                        <input type="date" class="form-control" required="required" ng-model="sipForm.startDate" placeholder="yyyy-MM-dd" ng-disabled="editMode" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">End Date<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="date" class="form-control" required="required" ng-model="sipForm.endDate" placeholder="yyyy-MM-dd"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12"><span class="docs-tooltip" data-toggle="tooltip" title="NAV of deduction date will be considered for Mutual Fund SIP">Deduction Day</span><span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="number" class="form-control"  required="required" ng-pattern="/^[0-9]{1,2}$/" min="1" max="31" ng-model="sipForm.deductionDay" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Amount<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <input type="number" class="form-control" required="required" ng-pattern="/^[0-9]{1,9}$/"  ng-model="sipForm.amount" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Frequency <small></small><span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <select class="form-control" required="required" ng-model="sipForm.sipFreq" ng-disabled="editMode" >
                                            <option value="0">One Time</option>
                                            <!--<option value="250">Daily</option>-->
                                            <!--<option value="52">Weekly</option>-->
                                            <!--<option value="24">Fortnightly</option>-->
                                            <option value="12">Monthly</option>
                                            <!--<option value="4">Quarterly</option>-->
                                            <!--<option value="2">Semi Annually</option>-->
                                            <!--<option value="1">Annually</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Is Active?<span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" vertical-align="middle">
                                        <select class="form-control"  ng-model="sipForm.isActive" >
                                            <option>No</option>
                                            <option>Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-sm-4 col-xs-12  col-md-offset-8">
                                        <button type="submit" class="btn btn-success" ng-click="processSipRecord()">Save</button>
                                        <button class="btn btn-success" ng-click="showTable()">Cancel</button>
                                        <br /> <br />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>


<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- bootstrap-progressbar -->
<script src="../../static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<!-- iCheck -->
<script src="../../static/vendors/iCheck/icheck.min.js" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
<!-- jquery.inputmask -->
<script src="../../static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js" th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
<!-- bootstrap-daterangepicker -->
<script src="../../static/vendors/moment/min/moment.min.js" th:src="@{/vendors/moment/min/moment.min.js}"></script>
<script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- bootstrap-wysiwyg -->
<script src="../../static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js" th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
<script src="../../static/vendors/jquery.hotkeys/jquery.hotkeys.js" th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
<script src="../../static/vendors/google-code-prettify/src/prettify.js" th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
<!-- jQuery Tags Input -->
<script src="../../static/vendors/jquery.tagsinput/src/jquery.tagsinput.js" th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
<!-- Switchery -->
<script src="../../static/vendors/switchery/dist/switchery.min.js" th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
<!-- Select2 -->
<script src="../../static/vendors/select2/dist/js/select2.full.min.js" th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
<!-- Parsley -->
<script src="../../static/vendors/parsleyjs/dist/parsley.min.js" th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
<!-- Autosize -->
<script src="../../static/vendors/autosize/dist/autosize.min.js" th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
<!-- jQuery autocomplete -->
<script src="../../static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js" th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
<!-- starrr -->
<script src="../../static/vendors/starrr/dist/starrr.js" th:src="@{/vendors/starrr/dist/starrr.js}"></script>

<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>