<script  th:fragment="google-analytics-fragment">
    var prefix = ['abc', 'def', 'ghi'],
    middle = ['123', '456', '789'],
    suffix = ['rst', 'uvw', 'xyz'],
    random = function () {
        return Math.floor(Math.random() * 3);
    };
    var customUserId = prefix[random()] + '-' + middle[random()] + '-' + suffix[random()]; // e.g. abc-123-rst

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    // ga('create', 'UA-36101471-9', 'auto');
    ga('create', 'UA-36101471-9', { 'userId': customUserId });
    ga('require', 'displayfeatures');
    ga('set', 'userId', customUserId); // Set the user ID using signed-in user_id.
    ga('send', 'pageview');

</script>