<div class="col-md-3  left_col" th:fragment="common-publicsidebarmenu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <img src="../../static/images/tow.png" th:src="@{/images/tow.png}" height="25" width="25" />
                <span>Sudhir Kulaye</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">

        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Wealth Management</h3>
                <ul class="nav side-menu">
                    <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
                    <li><a><i class="fa fa-check-square-o"></i> Services <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/public/services">Overview</a></li>
                            <li><a href="/public/pmsapp">PMS App</a></li>
                            <li><a href="/public/wealthmanagementapp">Wealth Management App</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-check-square-o"></i> Equity Class <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/public/indexreturnstats">Return Statistics</a></li>
                            <li><a href="/public/nifty50stats">NIFY50 Statistics</a></li>
                            <li><a href="/public/mftypes">Mutual Funds Types</a></li>
                            <li><a href="/public/mflist">Mutual Funds Stats</a></li>
                            <li><a href="/public/stocklist">Stocks Stats</a></li>
                            <li><a href="/public/stockcompare">Compare Stocks Fundamentals</a></li>
                            <li><a href="/public/stockcompareplus">Compare Stocks Valuations</a></li>
                            <!--<li><a href="/public/research">Research</a></li>-->
                        </ul>
                    </li>
                    <li><a><i class="fa fa-check-square-o"></i> Blog <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/public/blog0001">Financial Shenanigan</a></li>
                        </ul>
                    </li>
                    <!--<li><a><i class="fa fa-check-square-o"></i> Banking Stocks <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                    <!--<li><a href="/public/bankanalysis1">Banks Large-Cap</a></li>-->
                    <!--<li><a href="/public/bankanalysis2">Banks Mid-Cap</a></li>-->
                    <!--<li><a href="/public/bankanalysis3">Banks Small-Cap</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a><i class="fa fa-check-square-o"></i> Economic Indicators <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                    <!--<li><a href="/public/indianeconomy">India</a></li>-->
                    <!--&lt;!&ndash;<li><a href="#">Developed Countries [Upcoming]</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Other Emerging Markets [Upcoming]</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Commodities [Upcoming]</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                    <!--</li>-->
                    <li><a><i class="fa fa-question"></i> Help <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <!--<li><a href="/public/saa"><i class="fa fa-question-circle"></i>What is Asset Allocation</a></li>-->
                            <!--<li><a href="/public/whyindependentadvice"><i class="fa fa-question-circle"></i>Why independent advice</a></li>-->
                            <!--<li><a href="/public/ethicalstandards"><i class="fa fa-question-circle"></i>Understanding Ethical Standards</a></li>-->
                            <li><a href="/public/retirementfundcalculation">Retirement Fund Calculation</a></li>
                        </ul>
                    </li><li><a href="/public/contactus"><i class="fa fa-phone-square"></i>Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>