<div class="col-md-3  left_col" th:fragment="common-publicsidebarmenu">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <img src="../../static/images/tow.png" th:src="@{/images/tow.png}" height="25" width="25" />
                <span>Timeline of Wealth</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">

        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Wealth Management</h3>
                <ul class="nav side-menu">
                    <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
                    <!--<li><a><i class="fa fa-lightbulb-o"></i> Philosphy <span class="fa fa-chevron-down"></span></a>-->
                        <!--<ul class="nav child_menu">-->
                            <!--<li><a href="#">Goal Oriented </a></li>-->
                            <!--<li><a href="#">Liability Deriven </a></li>-->
                            <!--<li><a href="#">Strategic Asset Allocation</a></li>-->
                            <!--<li><a href="#">Monitor &amp; Audit</a></li>-->
                            <!--<li><a href="#">Tactical Asset Allocaiton</a></li>-->
                            <!--<li><a href="#">Rebalancing</a></li>-->
                            <!--<li><a href="#">Insurance</a></li>-->
                            <!--<li><a href="#">Annuity</a></li>-->
                            <!--<li><a href="#">Retirement Solution</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li><a href="/public/services"><i class="fa fa-cogs"></i> Services </a> </li>
                    <li><a href="/public/privacy"><i class="fa fa-shield"></i> Privacy Policy &amp; Agreement </a></li>
                    <li><a href="/public/contactus"><i class="fa fa-phone-square"></i>Contact Us</a></li>
                    <li><a href="/public/faq"><i class="fa fa-question-circle"></i>FAQ</a></li>
                    <!--<li><a><i class="fa fa-bar-chart-o"></i>Individual Indian Equity <span class="fa fa-chevron-down"></span></a>-->
                        <!--<ul class="nav child_menu">-->
                            <!--<li><a href="#">BSE NSE 200 </a></li>-->
                            <!--<li><a href="#">Rest of BSE NSE 500</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>