<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body class="nav-md" ng-app="GeneratePDFReportManagement" ng-controller="GeneratePDFReportController">
<!--Angular JS-->
<script src="../../static/vendors/angular/angular.min.js" th:src="@{/vendors/angular/angular.min.js}"></script>
<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"  th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- ui-bootstrap-tpls.js -->
<script type="text/javascript" src="../../static/custom/ui-bootstrap-tpls.min.js" th:src="@{/custom/ui-bootstrap-tpls.min.js}"></script>
<!--Angular custom filter (for group by) JS-->
<script src="../../static/custom/angular-filter.js" th:src="@{/custom/angular-filter.js}"></script>
<!-- custom angular script -->
<script type="text/javascript" src="../../static/custom/adviser/generatepdfreport.js" th:src="@{/custom/adviser/generatepdfreport.js}"></script>
<div class="container body">
    <div class="main_container">
        <!-- sidebar menu -->
        <div th:replace="fragments/advisersidebarmenu :: common-advisersidebarmenu" />
        <!-- /sidebar menu -->

        <!-- top navigation -->
        <div th:replace="fragments/usertopnavigation :: common-usertopnavigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>List of Clients having PMS</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h2>Download And Save All Reports on the Server</h2>
                            <div  class="col-md-1 col-xs-12">
                                <form method="POST" action="/adviser/generateallpdfreports" enctype="multipart/form-data" >
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Submit" />
                                </form>
                            </div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <!--<th>Client ID</th>-->
                                        <th>Member ID</th>
                                        <th>Member Name</th>
                                        <!--<th>Relationship</th>-->
                                        <th>Download PDF</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="client in clients ">
                                        <!--<td>{{ client.userid }}</td>-->
                                        <td>{{ client.memberid }}</td>
                                        <td>{{client.memberName}}</td>
                                        <!--<td>{{client.relationship}}</td>-->
                                        <!--<td> <img th:href="@{'/adviser/api/generatepmspdf/{{client.memberid}}/'}"><img src="../../static/images/pdf-download.png"  th:src="@{/images/pdf-download.png}" /> </a> </td>-->
                                        <td> <a th:href="@{'generatepmspdf/{{client.memberid}}/'}"> <i class="fa fa-download"></i> </a> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div th:replace="fragments/publicfooter :: common-publicfooter" />
        <!-- /footer content -->
    </div>
</div>
<!-- Custom Theme Scripts -->
<script src="../../static/custom/custom.min.js" th:src="@{/custom/custom.min.js}"></script>
</body>
</html>